---
layout: base.njk
---

<main>
  <div class="warmup">
    <h2 class="headline">Claws of Saurtopia Warmup 2026</h2>

    <div class="funny-icons">t p x &</div>
    <div>Thursday, 14 May 2026</div>
    <div>Doors: 18h00</div>
    <div>Start: 19h00</div>
    <div>at Sciiiiik [Anger-Crottendorf]</div>
    <div class="funny-icons">/ i a !</div>

    <div id="onStage">on stage:</div>
    <div id="bands">
      {% bandsAndColours 'warmup2026' %}
    </div>
    <img class="max-w-full m-auto p-4" src="https://itritritr.netlify.app/posters/2026-05-14.redacted.jpg"></img>
  </div>

</main>
