---
layout: base.njk
---

<main>
  <div class="warmup">
    <h2 class="headline">Noisefest Warmupz 2024</h2>

    <div class="funny-icons">) m q "</div>
    <div>Friday, 17 May 2024</div>
    <div>Doors: 19h00</div>
    <div>Start: 20h00</div>
    <div>at PRXCXT [Leipzig-Reudnitz]</div>
    <div class="funny-icons">\ l q e</div>

    <div id="onStage">on stage:</div>
    <div id="bands">{% bandsAndColours 'warmup1' %}</div>
  </div>
  <div class="warmup">
    <h2 class="headline">Noisefest Warmupz 2024</h2>

    <div class="funny-icons">* P Q y</div>
    <div>Thursday, 23 May 2024</div>
    <div>Doors: 19h00</div>
    <div>Start: 20h00</div>
    <div>at SPXLXNKX [Leipzig-Plagwitz]</div>
    <div class="funny-icons">$ ( , v</div>

    <div id="onStage">on stage:</div>
    <div id="bands">{% bandsAndColours 'warmup2' %}</div>
  </div>
  <div class="funny-icons">c R % i</div>
</main>
