---
layout: base.njk
---

<main>
  <div id="index">
    <div>
      <h2 class="headline text-lg md:text-2xl w-fit m-auto text-black mb-2">
        After one year of hiatus the Claws Of Saurtopia noisefest #11 is coming up in 2026 
      </h2>

      <div class="funny-icons">a / f o</div>
      <div>Friday, 5 June 2026</div>
      <div>+++</div>
      <div>Saturday, 6 June 2026</div>
      <div>Doors: ??:00</div>
      <div>Start: ??:00</div>
      <div>at youknowwhere</div>
    </div>
  </div>
  <div class="w-full my-2">
      <img class="max-w-full m-auto" src="/assets/video/noise_teaser-ani-2026.gif"></img>
    <div>See you there!</div>
  </div>
</main>
