---
layout: base.njk
---

<main>

  <div>
    <h2 class="headline">♨️ Noisefest-Warmup 2023 ♨️</h2>

    <video src="/assets/video/noisewarmupteaser2023.mp4" autoplay loop muted></video>

    <div> 🐊 🦤 🐉 🦕 🦎</div>
    <div>Saturday, 29 April 2023</div>
    <div> at SPXLXNKX</div>
    <div> 🦣 🦖 🐢 🌋 🐲</div>

    <div>on stage:</div>
    {% bandsAndColours %}
  </div>
  <div class="announcement">
    Claws Of Saurtopia Noise Fest 2023 coming up!
    <em>June 2 and 3, 2023 at your favourite noise joint</em>
  </div>
  <!--  
  <ul>
    <li>Gleeetch</li>
    <li>Territorial Gobbing</li>
    <li>Rundfunkorchestra</li>
    <li>Klösse</li>
    <li>It's Everyone Else</li>
    <li>Lara A.</li>
    <li>Nape Neck</li>
    <li>Deeskalationskommando</li>
    <li>Fiat X</li>
    <li>Sathönay</li>
    <li>Earthlogoff</li>
    <li>Makroplastik</li>
    <li>Cantenac Dagar</li>
    <li>Heimat</li>
    <li>Atol Atol Atol</li>
  </ul>
-->
</main>