---
layout: base.njk
---

<style>
  .post_link {
    padding: 3px 0;
  }
</style>

<main class="text-left max-w-2xl mx-auto px-2">
  <div class="my-4">
    <a href="/archive/" class="text-blue-400 hover:underline text-sm"
      >← archive</a
    >
  </div>
  <h1 class="font-bold text-2xl my-4">pre-2022</h1>

  <section class="text-sm">
    <h2
      class="font-bold text-base mt-8 mb-3 border-b border-gray-500 pb-1 uppercase tracking-widest"
    >
      2019
    </h2>

    <div class="post_link" id="185588270413">
      <a
        class="underline"
        href="/archive/html/185588270413.html"
        target="_blank"
        >Claws Of Saurtopia Noisefest #7</a
      >
      <span class="text-gray-400 ml-2">June 14th, 2019</span>
    </div>

    <h2
      class="font-bold text-base mt-8 mb-3 border-b border-gray-500 pb-1 uppercase tracking-widest"
    >
      2018
    </h2>

    <div class="post_link" id="173453186898">
      <a
        class="underline"
        href="/archive/html/173453186898.html"
        target="_blank"
        >CoS Noise Fest Warm-Up #1 – Miss Tetanos, Cuntroaches, Urin & Staxl
        Oll</a
      >
      <span class="text-gray-400 ml-2">March 5th, 2018</span>
    </div>
    <div class="post_link" id="173453282978">
      <a
        class="underline"
        href="/archive/html/173453282978.html"
        target="_blank"
        >CoS Noise Fest Warm-Up #2 – TRRMÀ & MIMI KAWOUIN</a
      >
      <span class="text-gray-400 ml-2">April 1st, 2018</span>
    </div>
    <div class="post_link" id="173363113513">
      <a
        class="underline"
        href="/archive/html/173363113513.html"
        target="_blank"
        >CoS Noise Fest Warm-Up #3 – Kurws, Horacio Pollard, Nystagmus & Gazelle
        of Death</a
      >
      <span class="text-gray-400 ml-2">April 2nd, 2018</span>
    </div>
    <div class="post_link" id="173453081448">
      <a
        class="underline"
        href="/archive/html/173453081448.html"
        target="_blank"
        >CoS Noise Fest Warm-Up #4 – Enob, (...), randomismyname</a
      >
      <span class="text-gray-400 ml-2">April 30th, 2018</span>
    </div>
    <div class="post_link" id="173362704843">
      <a
        class="underline"
        href="/archive/html/173362704843.html"
        target="_blank"
        >GiszerFest – Barłóg, Biggest Rat & 2035</a
      >
      <span class="text-gray-400 ml-2">April 27th, 2018</span>
    </div>
    <div class="post_link" id="173363588713">
      <a
        class="underline"
        href="/archive/html/173363588713.html"
        target="_blank"
        >HOLOB Riso Flyers</a
      >
      <span class="text-gray-400 ml-2">April 27th, 2018</span>
    </div>
    <div class="post_link" id="173482999048">
      <a
        class="underline"
        href="/archive/html/173482999048.html"
        target="_blank"
        >CHRYSTE PANIE</a
      >
      <span class="text-gray-400 ml-2">April 30th, 2018</span>
    </div>
    <div class="post_link" id="173483165703">
      <a
        class="underline"
        href="/archive/html/173483165703.html"
        target="_blank"
        >AEMONG</a
      >
      <span class="text-gray-400 ml-2">May 1st, 2018</span>
    </div>
    <div class="post_link" id="173575797688">
      <a
        class="underline"
        href="/archive/html/173575797688.html"
        target="_blank"
        >DON VITO</a
      >
      <span class="text-gray-400 ml-2">May 4th, 2018</span>
    </div>
    <div class="post_link" id="173630402128">
      <a
        class="underline"
        href="/archive/html/173630402128.html"
        target="_blank"
        >DAME AREA</a
      >
      <span class="text-gray-400 ml-2">May 5th, 2018</span>
    </div>
    <div class="post_link" id="173630614743">
      <a
        class="underline"
        href="/archive/html/173630614743.html"
        target="_blank"
        >Marbled Eye, The Staches & Moron @ SPxLxNKx</a
      >
      <span class="text-gray-400 ml-2">May 6th, 2018</span>
    </div>
    <div class="post_link" id="173698690863">
      <a
        class="underline"
        href="/archive/html/173698690863.html"
        target="_blank"
        >PETER JAMES TAYLOR</a
      >
      <span class="text-gray-400 ml-2">May 7th, 2018</span>
    </div>
    <div class="post_link" id="173698722228">
      <a
        class="underline"
        href="/archive/html/173698722228.html"
        target="_blank"
        >V Day – Lemones & Weird Dust</a
      >
      <span class="text-gray-400 ml-2">May 8th, 2018</span>
    </div>
    <div class="post_link" id="173734672553">
      <a
        class="underline"
        href="/archive/html/173734672553.html"
        target="_blank"
        >HORST DU NOCH</a
      >
      <span class="text-gray-400 ml-2">May 9th, 2018</span>
    </div>
    <div class="post_link" id="173767399138">
      <a
        class="underline"
        href="/archive/html/173767399138.html"
        target="_blank"
        >ZAD KOKAR + TRAVAIL RYTHMIQUE</a
      >
      <span class="text-gray-400 ml-2">May 10th, 2018</span>
    </div>
    <div class="post_link" id="173868246863">
      <a
        class="underline"
        href="/archive/html/173868246863.html"
        target="_blank"
        >Post-Materialists</a
      >
      <span class="text-gray-400 ml-2">May 11th, 2018</span>
    </div>
    <div class="post_link" id="173868577183">
      <a
        class="underline"
        href="/archive/html/173868577183.html"
        target="_blank"
        >Stop Asking Stupid Questions</a
      >
      <span class="text-gray-400 ml-2">May 12th, 2018</span>
    </div>
    <div class="post_link" id="173868049168">
      <a
        class="underline"
        href="/archive/html/173868049168.html"
        target="_blank"
        >DEUX BOULES VANILLE</a
      >
      <span class="text-gray-400 ml-2">May 13th, 2018</span>
    </div>
    <div class="post_link" id="173920027398">
      <a
        class="underline"
        href="/archive/html/173920027398.html"
        target="_blank"
        >SALSA</a
      >
      <span class="text-gray-400 ml-2">May 14th, 2018</span>
    </div>
    <div class="post_link" id="173920471878">
      <a
        class="underline"
        href="/archive/html/173920471878.html"
        target="_blank"
        >WETWARE</a
      >
      <span class="text-gray-400 ml-2">May 15th, 2018</span>
    </div>
    <div class="post_link" id="173952673908">
      <a
        class="underline"
        href="/archive/html/173952673908.html"
        target="_blank"
        >LE DEATH TO MANKIND</a
      >
      <span class="text-gray-400 ml-2">May 16th, 2018</span>
    </div>
    <div class="post_link" id="173958199503">
      <a
        class="underline"
        href="/archive/html/173958199503.html"
        target="_blank"
        >CoS Noisefest #6 – Festival Poster</a
      >
      <span class="text-gray-400 ml-2">May 16th, 2018</span>
    </div>
    <div class="post_link" id="174045039548">
      <a
        class="underline"
        href="/archive/html/174045039548.html"
        target="_blank"
        >Pownsdorf Rock Academy Showcase – Warm Swords, Lassie & Traashboo</a
      >
      <span class="text-gray-400 ml-2">May 19th, 2018</span>
    </div>
    <div class="post_link" id="174123538813">
      <a
        class="underline"
        href="/archive/html/174123538813.html"
        target="_blank"
        >Horst Du Noch – Slow Stepper / Schifffahrt EP</a
      >
      <span class="text-gray-400 ml-2">May 21st, 2018</span>
    </div>
    <div class="post_link" id="174269564433">
      <a
        class="underline"
        href="/archive/html/174269564433.html"
        target="_blank"
        >Dame Area – Centro di Gravitá LP</a
      >
      <span class="text-gray-400 ml-2">May 25th, 2018</span>
    </div>
    <div class="post_link" id="174268847863">
      <a
        class="underline"
        href="/archive/html/174268847863.html"
        target="_blank"
        >Ghillie Suit & Purpur Spytt @ T|FF</a
      >
      <span class="text-gray-400 ml-2">May 26th, 2018</span>
    </div>
    <div class="post_link" id="174299356596">
      <a
        class="underline"
        href="/archive/html/174299356596.html"
        target="_blank"
        >Dolphins, Freak Heat Waves & New Fries @ KxHx</a
      >
      <span class="text-gray-400 ml-2">May 27th, 2018</span>
    </div>
    <div class="post_link" id="174373321703">
      <a
        class="underline"
        href="/archive/html/174373321703.html"
        target="_blank"
        >U-BAC – Dame Area EP</a
      >
      <span class="text-gray-400 ml-2">May 29th, 2018</span>
    </div>
    <div class="post_link" id="174410094783">
      <a
        class="underline"
        href="/archive/html/174410094783.html"
        target="_blank"
        >Soft as Snow @ π®åçh†</a
      >
      <span class="text-gray-400 ml-2">May 30th, 2018</span>
    </div>
    <div class="post_link" id="174430227746">
      <a
        class="underline"
        href="/archive/html/174430227746.html"
        target="_blank"
        >ROLAND MOOG @ CoS 2018</a
      >
      <span class="text-gray-400 ml-2">May 31st, 2018</span>
    </div>
    <div class="post_link" id="174432056533">
      <a
        class="underline"
        href="/archive/html/174432056533.html"
        target="_blank"
        >Claws Of Saurtopia compilation #6</a
      >
      <span class="text-gray-400 ml-2">May 31st, 2018</span>
    </div>
    <div class="post_link" id="174466247368">
      <a
        class="underline"
        href="/archive/html/174466247368.html"
        target="_blank"
        >CoS Noisefest #6 – Friday Lineup</a
      >
      <span class="text-gray-400 ml-2">June 1st, 2018</span>
    </div>
    <div class="post_link" id="174496821538">
      <a
        class="underline"
        href="/archive/html/174496821538.html"
        target="_blank"
        >CoS Noisefest #6 – Saturday Lineup</a
      >
      <span class="text-gray-400 ml-2">June 2nd, 2018</span>
    </div>
    <div class="post_link" id="174693016398">
      <a
        class="underline"
        href="/archive/html/174693016398.html"
        target="_blank"
        >Thanks</a
      >
      <span class="text-gray-400 ml-2">June 3rd, 2018</span>
    </div>

    <h2
      class="font-bold text-base mt-8 mb-3 border-b border-gray-500 pb-1 uppercase tracking-widest"
    >
      2013–2014
    </h2>

    <div class="post_link" id="64676010385">
      <a class="underline" href="/archive/html/64676010385.html" target="_blank"
        >OVO Music, Mombu & Kairo</a
      >
      <span class="text-gray-400 ml-2">October 21st, 2013</span>
    </div>
    <div class="post_link" id="74849659045">
      <a class="underline" href="/archive/html/74849659045.html" target="_blank"
        >Thee Irma & Louise & Anaheim @ Similde</a
      >
      <span class="text-gray-400 ml-2">January 28th, 2014</span>
    </div>
    <div class="post_link" id="81471193384">
      <a class="underline" href="/archive/html/81471193384.html" target="_blank"
        >Wiedermal ein Sonntagskonzert!!! – Koonda Holaa & Steve Mackay</a
      >
      <span class="text-gray-400 ml-2">April 2nd, 2014</span>
    </div>
    <div class="post_link" id="84001831876">
      <a class="underline" href="/archive/html/84001831876.html" target="_blank"
        >Alahuta & Cheval Scintillantes @ Similde</a
      >
      <span class="text-gray-400 ml-2">April 27th, 2014</span>
    </div>
    <div class="post_link" id="84002018362">
      <a class="underline" href="/archive/html/84002018362.html" target="_blank"
        >2 Boules Vanille, Mankho & Antihairball @ Zoro-Keller</a
      >
      <span class="text-gray-400 ml-2">April 27th, 2014</span>
    </div>

    <h2
      class="font-bold text-base mt-8 mb-3 border-b border-gray-500 pb-1 uppercase tracking-widest"
    >
      2011
    </h2>

    <div class="post_link" id="4167391971">
      <a class="underline" href="/archive/html/4167391971.html" target="_blank"
        >Pneu – tu t'blesses</a
      >
      <span class="text-gray-400 ml-2">March 28th, 2011</span>
    </div>
    <div class="post_link" id="4185345748">
      <a class="underline" href="/archive/html/4185345748.html" target="_blank"
        >Gregaldur – Mes Couilles Sur Ton Nez</a
      >
      <span class="text-gray-400 ml-2">March 29th, 2011</span>
    </div>
    <div class="post_link" id="4206640548">
      <a class="underline" href="/archive/html/4206640548.html" target="_blank"
        >Headwar – Lance Biquette</a
      >
      <span class="text-gray-400 ml-2">March 30th, 2011</span>
    </div>
    <div class="post_link" id="4387510625">
      <a class="underline" href="/archive/html/4387510625.html" target="_blank"
        >Gentle Veincut – Friendly Neighborhood</a
      >
      <span class="text-gray-400 ml-2">April 6th, 2011</span>
    </div>
    <div class="post_link" id="4413686297">
      <a class="underline" href="/archive/html/4413686297.html" target="_blank"
        >Bonne Humeur Provisoire – Hospital Bed</a
      >
      <span class="text-gray-400 ml-2">April 7th, 2011</span>
    </div>
    <div class="post_link" id="4562612775">
      <a class="underline" href="/archive/html/4562612775.html" target="_blank"
        >Gum Takes Tooth – Strychnine Motive</a
      >
      <span class="text-gray-400 ml-2">April 13th, 2011</span>
    </div>
    <div class="post_link" id="4576035104">
      <a class="underline" href="/archive/html/4576035104.html" target="_blank"
        >Cotton Ponies – Soliparty</a
      >
      <span class="text-gray-400 ml-2">April 13th, 2011</span>
    </div>
    <div class="post_link" id="4604058045">
      <a class="underline" href="/archive/html/4604058045.html" target="_blank"
        >The Dreams – Power of Signs</a
      >
      <span class="text-gray-400 ml-2">April 14th, 2011</span>
    </div>
    <div class="post_link" id="4686200273">
      <a class="underline" href="/archive/html/4686200273.html" target="_blank"
        >Pneu</a
      >
      <span class="text-gray-400 ml-2">April 17th, 2011</span>
    </div>
    <div class="post_link" id="4954231433">
      <a class="underline" href="/archive/html/4954231433.html" target="_blank"
        >Cotton Ponies live at Mittwochs Exakt, Postgarage, Graz</a
      >
      <span class="text-gray-400 ml-2">April 26th, 2011</span>
    </div>
    <div class="post_link" id="4954352959">
      <a class="underline" href="/archive/html/4954352959.html" target="_blank"
        >Hexenbrutal – TLL TLL</a
      >
      <span class="text-gray-400 ml-2">April 26th, 2011</span>
    </div>
    <div class="post_link" id="4954622217">
      <a class="underline" href="/archive/html/4954622217.html" target="_blank"
        >le singe blanc 10 ans – pneu, don vito & le singe blanc bigband</a
      >
      <span class="text-gray-400 ml-2">April 26th, 2011</span>
    </div>
    <div class="post_link" id="4982443126">
      <a class="underline" href="/archive/html/4982443126.html" target="_blank"
        >Monsieur Scary – Scream</a
      >
      <span class="text-gray-400 ml-2">April 27th, 2011</span>
    </div>
    <div class="post_link" id="5187135492">
      <a class="underline" href="/archive/html/5187135492.html" target="_blank"
        >HEADWAR</a
      >
      <span class="text-gray-400 ml-2">May 4th, 2011</span>
    </div>
    <div class="post_link" id="5199959028">
      <a class="underline" href="/archive/html/5199959028.html" target="_blank"
        >KILLER</a
      >
      <span class="text-gray-400 ml-2">May 5th, 2011</span>
    </div>
    <div class="post_link" id="5239791831">
      <a class="underline" href="/archive/html/5239791831.html" target="_blank"
        >BONNE HUMEUR PROVISOIRE</a
      >
      <span class="text-gray-400 ml-2">May 6th, 2011</span>
    </div>
  </section>
</main>
