---
layout: base.njk
---

<h2>
    DIY means Do It Yourself!
    Lötworkshop mit noisio
</h2>

<div>
    Saturday 3.6. @exblackhammer 13h00 (time to be confirmed).
</div>

<div class="text-sm text-left leading-normal">
    Baue dir beim noisio Lötworkshop deinen eigenen 8-Bit Mini-Synthesizer. Zum Beispiel das Photonotron - ein
    licht-sensitives Theremin, mit dem du Klänge zwischen Retro und Chaos erzeugen kannst. Oder die ATtiny Punk Console,
    welche sich über ein Audiosignal programmieren lässt. Ebenso ist der 10-stimmige LevitationOSC dabei - ein
    Drone-Synthesizer mit mannigfaltigen Sounds und Funktionen, sowie bestimmt der ein oder andere Bausatz aus dem
    noisio Reisekoffer...
</div>
<div>
    Kits von easy bis peasy :) Keinerlei Vorkenntnisse nötig!
</div>

<div class="text-base text-left leading-normal border-double border-4 border-indigo-600">
    Mehr unter: www.noisio.de
    Preise: 20€–60€
    Anmeldung unter noisefest@riseup.net
</div>