<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <title>claWS of saUrToPiA NOISE FeSTIVaL 2024</title>

  <link rel="icon" type="image/png" href="./assets/favicon.ico" />
  <link rel="author" href="./assets/humans.txt" />

  <link rel="stylesheet" href="./assets/css/style.css" />
  <link rel="stylesheet" href="./assets/css/tailwind.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon-16x16.png" />
  <link rel="manifest" href="./assets/site.webmanifest" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <meta property="og:title" content="claWS of saUrToPiA NOISE FeSTIVaL 2024" />
  <meta property="og:site_name" content="https://clawsofsaurtopia.glitch.me/" />
  <meta property="og:url" content="https://clawsofsaurtopia.glitch.me/" />
  <meta property="og:description"
    content="CLAWS ◣ⶒⷯ⏷⌛⠹◉⬳ OF ⽆⎹⤿❼╫⌺≣⎫ⴵ⦻⛷⩟ SAURTOPIA ⵌⅣ⥆⌅∵∿♱✛❳⪵ⵯⅉ⣼◻┿ FESTIVAL ⁸⟌◷⯠⺪ⴝ␣☬⎥⋕⌞◜ JUNE 7 AND 8, 2024 ℷⶋ⺭⬿ⲛ​⤼⬥⍫⦬⎱⡒⍟⦍⼏ GET ≜⢙‸⸣☬⪙⃆⽏⧈ↆ⠞≯⢎ YOURSELVES ⚧♞⍲Ⱬ⒮⛔ OVER ⣊⿃◅Ⱝ⁾⮇➭⎄ THERE" />
  <meta property="og:type" content="profile" />
  <meta property="og:image"
    content="https://cdn.glitch.global/e9900d57-73ab-4734-8495-72674bf94e12/296627_237668039620143_1318302726_n.jpg?v=1713300861675" />
</head>
<script type="application/ld+json"></script>

<body class="m-0 w-full p-4 box-border min-h-screen">
  <div id="main-container" class="m-auto">
    {% include "header-component.njk" %}

    <div id="content" class="p-2 text-center">
      {{ content | safe }}
    </div>

    {% include "footer-component.njk" %}

</body>

</html>