<header class="text-base">
  <nav class="w-full p-3 flex flex-row flex-wrap justify-around">
    <a class="{{ 'active' if page.fileSlug == '' }} p-1 bg-[#ee82ee] text-[#243175] border border-[#243175] skew-x-12" href="/">Home</a>
    <a class="{{ 'active' if '/festival' in page.url }} p-1 bg-[#ee82ee] text-[#243175] border border-[#243175] skew-x-12" href="/">Festival 2023</a>
    <a class="{{ 'active' if '/workshops2023' in page.url }} p-1 bg-[#ee82ee] text-[#243175] border border-[#243175] -skew-y-12" href="/workshops2023">Workshops</a>
    <a class="{{ 'active' if '/warmup' in page.url }} p-1 bg-[#ee82ee] text-[#243175] border border-[#243175] -skew-x-12" href="/festival">Warmup</a>
    <a class="{{ 'active' if '/archive' in page.url }} p-1 bg-[#ee82ee] text-[#243175] border border-[#243175] skew-y-12" href="/archive">Archive</a>
    <a></a>
  </nav>
</header>
