<header class="text-base">
  <nav class="w-full p-3 flex flex-row flex-wrap justify-around">
    <a
      class="{{ 'active' if page.fileSlug == '' }} whitespace-nowrap bg-[#0506A7] text-[#ffd7d6] border border-[black]"
      href="/"
      >2026</a
    >
    <a
      class="{{ 'active' if '/archive' in page.url }} whitespace-nowrap bg-[#0506A7] text-[#ffd7d6] border border-[black]"
      href="/archive"
      >Archive</a
    >
  </nav>
</header>
