<header class="text-base">
  <nav class="w-full p-3 flex flex-row flex-wrap justify-around">
    <a
      class="{{ 'active' if page.fileSlug == '' }} whitespace-nowrap bg-[#0506A7] text-[#ffd7d6] border border-[black]"
      href="/"
      >Home</a
    >
    <a
      class="{{ 'active' if '/warmup' in page.url }} whitespace-nowrap bg-[#0506A7] text-[#ffd7d6] border border-[black]"
      href="/warmup"
      >Warmup</a
    >
    <a
      class="{{ 'active' if '/festival' in page.url }} whitespace-nowrap bg-[#0506A7] text-[#ffd7d6] border border-[black]"
      href="/festival"
      >Festival 2024</a
    >
    <a
      class="{{ 'active' if '/workshops2024' in page.url }} whitespace-nowrap bg-[#0506A7] text-[#ffd7d6] border border-[black]"
      href="/workshops2024"
      >Workshops</a
    >
    <!-- <a class="{{ 'active' if '/archive' in page.url }} whitespace-nowrap p-1 bg-[#0506A7] text-[#ffd7d6] border border-[black]" href="/archive">Archive</a> -->
    <a></a>
  </nav>
</header>
