---
layout: base.njk
---

<main>
<div>
    Claws Of Saurtopia Noise Fest 2023 coming up!
    <em>June 2 and 3 at your favourite noise joint.</em>
    <span>Here's the first couple of acts...</span>
    <span>Stay t00ned 4 more!</span>
</div>
</main>

<div>
<!--    
    <li>Gleeetch</li>
    <li>Territorial Gobbing</li>
    <li>Rundfunkorchestra</li>
    <li>Klösse</li>
    <li>It's Everyone Else</li>
    <li>Lara A.</li>
    <li>Nape Neck</li>
    <li>Deeskalationskommando</li>
    <li>Fiat X</li>
    <li>Sathönay</li>
    <li>Earthlogoff</li>
    <li>Makroplastik</li>
    <li>Cantenac Dagar</li>
    <li>Heimat</li>
-->
{% bandsAndColours festival %}
</div>