---
layout: base.njk
---

<main id="festival">
    <div>
        Claws Of Saurtopia Noise Fest 2023 coming up!
        <em>June 2 and 3 at your favourite noise joint.</em>
        <span>Here's the bands you'll see on stage...</span>
        <span>RRAWRRRR</span>
    </div>
</main>

<div>
    <hr class="jagged-rule-dark">
    <h2 class="mt-3 font-bold [text-shadow:_0_1px_0_rgb(0_0_0_/_90%)]">Friday, June 2 2023</h2>
    <div id="bands">
        {% bandsAndColours 'festivalFriday' %}
    </div>
    <hr class="jagged-rule-dark">
    <h2 class="mt-3 font-bold [text-shadow:_0_1px_0_rgb(0_0_0_/_90%)]">Saturday, June 3 2023</h2>
    <div id="bands">
        {% bandsAndColours 'festivalSaturday' %}
    </div>
</div>