---
layout: base.njk
---

<main id="festival">
    <div>
        Claws Of Saurtopia Noise Fest 2023 coming up!
        <em>June 2 and 3 at your favourite noise joint.</em>
        <span>Here's the bands you'll see on stage...</span>
        <span>RRAWRRRR</span>
    </div>
</main>

<div>
    <div id="bands">
        {% bandsAndColours festival %}
    </div>
</div>