--- layout: base.njk ---

<section class="text-xl">
  <h2 class="underline text-4xl my-3 font-bold">
    noisio - synth selber löten: DIY means Do It Yourself!
  </h2>
  <div
    class="w-fit m-auto text-center border border-2 border-blue-500 bg-white p-2"
  >
    Saturday, 6 June | 15:00
    <br />
    Location on request
  </div>
  <div class="text-base text-left leading-normal m-2">
    Baue dir beim noisio Lötworkshop deinen eigenen 8-Bit Mini-Synthesizer. Zum
    Beispiel das Photonotron - ein licht-sensitives Theremin, mit dem du Klänge
    zwischen Retro und Chaos erzeugen kannst. Oder die ATtiny Punk Console,
    welche sich über ein Audiosignal programmieren lässt. Ebenso ist der
    10-stimmige LevitationOSC dabei - ein Drone-Synthesizer mit mannigfaltigen
    Sounds und Funktionen, sowie bestimmt der ein oder andere Bausatz aus dem
    noisio Reisekoffer...
    <br />
    Kits von easy bis peasy :) Keinerlei Vorkenntnisse nötig!
  </div>
  <div
    class="w-fit m-auto text-base text-center leading-normal border-double border-4 border-blue-600 p-2 bg-white font-bold"
  >
    Anmeldung unter
    <br />
    <a
      href="mailto:noisefest@riseup.net"
      rel="noopeer noreferrer"
      target="_blank"
      >noisefest@riseup.net</a
    >
  </div>
  <div
    class="w-fit m-auto text-base text-center leading-normal border-double border-4 border-blue-600 p-2 bg-white font-bold"
  >
    Mehr unter:
    <br />
    <a href="https://www.noisio.de" rel="noopeer noreferrer" target="_blank"
      >www.noisio.de</a
    >
    <br />
    Preise: 20€–60€
  </div>
</section>
