---
layout: archive-post.njk
---

<div class="text">

    <div class="title">NOISE FEST 2010</div>
    <p><img src="../media/2010.jpg"></p>
    <h1>freitag 28.05.10:</h1>
    <p>live:<br> BEN ET BÉNÉ (F) (<a target="_blank"
            href="http://www.myspace.com/benetbene/">myspace.com/benetbene</a>)<br> FAST ARBEIT BABIES (F) (<a
            target="_blank" href="http://www.myspace.com/fastarbeitbabies/">myspace.com/fastarbeitbabies</a>)<br> LE
        SINGE BLANC (F) (<a target="_blank" href="http://www.myspace.com/lesingeblanc">myspace.com/lesingeblanc</a>)<br>
        MONNOCLE (F) (<a target="_blank"
            href="http://www.msplinks.com/MDFodHRwOi8vbW9ubm9jbGUuZnJlZS5mcg==">http://monnocle.free.fr</a>)<br> NICOLAS
        METALL &amp; MARIE GERMINAL (F) (<a target="_blank"
            href="http://www.myspace.com/nicolasmetall">myspace.com/nicolasmetall</a>)<br> DUFLAN DUFLAN (B) (<a
            target="_blank" href="http://www.myspace.com/duflanduflan">myspace.com/duflanduflan</a>)<br> + DJ NicoGlam
        (F/D) + Cocktails + Impro-Bühne</p>
    <h1>samstag 29.05.10:</h1>
    <p>live:<br> MR MARCAILLE (F) (<a target="_blank"
            href="http://www.myspace.com/monsieurmarcaille">myspace.com/monsieurmarcaille</a>)<br> NO GOD (DK) (<a
            target="_blank" href="http://www.myspace.com/nogodeurope">myspace.com/nogodeurope</a>)<br> ANTIHAIRBALL (D)
        (<a target="_blank" href="http://www.myspace.com/antihairball">myspace.com/antihairball</a>)<br> ANIA ET LE
        PROGRAMMEUR (D/F) (<a target="_blank"
            href="http://www.myspace.com/aniaetleprogrammeur">myspace.com/aniaetleprogrammeur</a>)<br> NASA DUDE (DK)
        (<a target="_blank" href="http://www.myspace.com/nasadude">myspace.com/nasadude</a>)<br> + DJ/anes Y and
        Triangle (NYC) + Cocktails + Impro-Bühne</p>
    <p>+ BUILD UR OWN NOISY CRACKLEBOX WORKSHOP</p>
    <p>ZORO<br> leipzig | bornaische straße 54</p>
    <p><img src="../media/2010_ws.png"></p>
</div>






















































<div class="meta">



</div>