---
layout: archive-post.njk
---

<div class="post">


    <div class="text">

        <div class="title">NOISEFEST 2012</div>
        <p><strong>CLAWS OF SAURTOPIA</strong> _<strong> NOISE FEST IV</strong></p>
        <p><strong>11.-12.05.2012 | ZORO | Leipzig<br><br><img height="572" src="../media/2012a.jpg" width="205"><img
                    height="571" src="../media/2012b.jpg" width="205"></strong></p>
        <h1>freitag 11.05.2012</h1>
        <p><strong>Princesse Rotative</strong> (F)<br>Fuse blowing coffee junk kids in a pinball machine brain fuck. Try
            to survive!<br><a
                href="http://www.myspace.com/princesserotative">http://www.myspace.com/princesserotative</a><br><a
                href="http://princesserotative.blogspot.de/">http://princesserotative.blogspot.de/</a></p>
        <p><strong>Interstellar Nightmare</strong> (D)<br>Madhouse screams of horror. Your nighttrain to hospital
            torture!<br><a
                href="http://www.myspace.com/interstellarnightmare">http://www.myspace.com/interstellarnightmare</a><br>
            <a href="http://soundcloud.com/interstellar-nightmare">http://soundcloud.com/interstellar-nightmare</a>
        </p>
        <p><strong>Trouble Vs Glue</strong> (I)<br>Stressed out Silly Putty transformed into a xylophon. Spazzy, nerdy,
            bouncing!<br><a href="http://www.myspace.com/troublevsglue">http://www.myspace.com/troublevsglue</a></p>
        <p><strong>Meurtre</strong> (F)<br>Destruction and downfall. Dystopian trumpets, grim vocals, angry basslines.
            Listen to Radio Untergang!<br><a
                href="http://www.msplinks.com/MDFodHRwOi8vbWV1cnRyZWZ1Y2tzcGFjZS5ibG9nc3BvdC5jb20v" rel="nofollow"
                target="_blank">http://meurtrefuckspace.blogspot.com/</a></p>
        <p><strong>Monopeople</strong> (D)<br>Gnarly bass and sweaty drums. Furious animals vs. apocalyptic moped
            riders!<br><a href="http://soundcloud.com/monopeople">http://soundcloud.com/monopeople</a><br><a
                href="https://www.facebook.com/monopeople">https://www.facebook.com/monopeople</a><br><strong><br>Les
                Spritz</strong> (I)<br>Mount etna’s eruptions. Nervous, hot and tricky!<br><a
                href="http://www.myspace.com/lesspritz">http://www.myspace.com/lesspritz</a><br><a
                href="http://lesspritzzoid.bandcamp.com/">http://lesspritzzoid.bandcamp.com/</a><br><a
                href="https://www.facebook.com/lesspritz">https://www.facebook.com/lesspritz</a></p>
        <p><strong>Krach Vorm Klo </strong>(D)<br>krach vorm klo!<br><br><strong>+ AFTERSHOW-DISCO</strong> with
            <strong>capt'no'future &amp; futschikato </strong>(D/LE)<br><br>
        </p>
        <h1>samstag 12.05.2012</h1>
        <p><strong>Die Infantillerie / Legion Of Swine</strong> (D/UK)<br>Eardrum ignoring frequencies &amp; P.A.
            smashing madness!<br><a href="http://legionofswine.blogspot.de">http://legionofswine.blogspot.de</a><br><a
                href="http://soundcloud.com/legionofswine">http://soundcloud.com/legionofswine</a></p>
        <p><strong>Ovo</strong> (I)<br>Hairy, murderous and masked. Diabolic excess ‘til your grinded to dust.<br><a
                href="http://ovolive.blogspot.it/">http://ovolive.blogspot.it/</a><br><a
                href="http://www.myspace.com/ovobarlamuerte">http://www.myspace.com/ovobarlamuerte</a><br><a
                href="http://ovomusic.bandcamp.com/">http://ovomusic.bandcamp.com/</a><br><a
                href="https://www.facebook.com/pages/OvO/199733020041914">https://www.facebook.com/pages/OvO/199733020041914</a>
        </p>
        <p><strong>Le Club Des Chats</strong> (F)<br>Hyperactive cats. In heat. On acid. With a lot of fleas! Freaky,
            weird and trippy.<br><a
                href="http://www.myspace.com/leclubdeschats">http://www.myspace.com/leclubdeschats</a></p>
        <p><strong>Monster Vs Aliens</strong> (D)<br>Hypnotic dentist drills in a sci-fi thunderstorm. Mutated and mind
            screwing!<br><a href="http://www.myspace.com/monstervsaliens">http://www.myspace.com/monstervsaliens</a></p>
        <p><strong> The Kurws</strong> (PL)<br>Guitars, drums, sax. Eclectic, excentric, chaotic, free. Ideas not
            esthetics!<br><a href="http://www.myspace.com/thekurws">http://www.myspace.com/thekurws</a><br><a
                href="http://kurws.bandcamp.com/">http://kurws.bandcamp.com/</a></p>
        <p><strong>Mur(s)</strong> (F)<br>Curious and lost. Strange and missing.&nbsp; Nightowls on a daytrip. What is
            Mur(s)?<br><a
                href="http://www.lunerouge.org/textures/wall/LRwall0012.jpg">http://www.lunerouge.org/textures/wall/LRwall0012.jpg</a>
        </p>
        <p><strong>Peter James Taylor </strong>(UK) <br>Guitars, guitars, guitars! Lots of guitars! All played by
            marionettes, played by one guy. Dissonant and mighty!<br><a
                href="http://peterjamestaylor.net">http://peterjamestaylor.net</a><br><strong><br>+
                AFTERSHOW-DISCO</strong> with <strong>THE GOLDEN SCHMUCKS </strong>(D/EF)<br><br><br>poster &amp; flyer
            design by <a href="http://fuzzzgun.blogspot.de/">http://fuzzzgun.blogspot.de/</a> thx!!!</p>
        <p><br><br></p>
    </div>






















































    <div class="meta">



    </div>
















</div>