---
layout: archive-post.njk
---

<div class="post">


        <div class="text">

                <div class="title">NOISEFEST 2013</div>
                <p><img alt="image" class="toggle_inline_image inline_image constrained_image" src="../media/2013.jpg">
                </p>
                <p><strong>10./11. MAI @ ZORO, 21:00</strong></p>
                <p><strong>CLAWS OF SAURTOPIA: NOISE FEST V!!! weird music festival</strong></p>
                <p>15 bands/disco/cocktails/pizza/dinosaur exhibition/workshop: 20min bandproduction w/ lo-fi studio
                        &amp; tape
                        release</p>
                <p>YES!!!!</p>
                <p><strong>live:</strong></p>
                <p><strong>PRINCESSE ROTATIVE (F)</strong></p>
                <p><a href="http://princesserotative.bandcamp.com/album/t-te-de-futur"
                                target="_blank">http://princesserotative.bandcamp.com/album/t-te-de-futur</a></p>
                <p><strong>ASIAN WOMEN ON THE TELEPHONE (RU)</strong></p>
                <p><a href="http://asianwomenonthetelephone.bandcamp.com/album/ivan-euro-edition-2"
                                target="_blank">http://asianwomenonthetelephone.bandcamp.com/album/ivan-euro-edition-2</a>
                </p>
                <p><strong>SPOELSTRA (NL)</strong></p>
                <p><a href="http://narrominded.bandcamp.com/album/pallets"
                                target="_blank">http://narrominded.bandcamp.com/album/pallets</a></p>
                <p><strong>GUILI GUILI GOULAG (B/F)</strong></p>
                <p><a href="http://vimeo.com/53219939" target="_blank">http://vimeo.com/53219939</a></p>
                <p><strong>CLARKYS BACON (D)</strong></p>
                <p><a href="http://clarkysbacon.bandcamp.com/" target="_blank">http://clarkysbacon.bandcamp.com/</a></p>
                <p><strong>BESOIN DEAD (F)</strong></p>
                <p><a href="http://besoindead.bandcamp.com/" target="_blank">http://besoindead.bandcamp.com/</a></p>
                <p><strong>HYSM?DUO (I)</strong></p>
                <p><a href="http://hysmduo.bandcamp.com/" target="_blank">http://hysmduo.bandcamp.com/</a></p>
                <p><strong>HIROSHIMA BIRD MARKET (D)</strong></p>
                <p><a href="http://hiroshimabirdmarket.blogspot.de/"
                                target="_blank">http://hiroshimabirdmarket.blogspot.de/</a>
                </p>
                <p><strong>IONIO (I)</strong></p>
                <p><a href="http://ionio.bandcamp.com/" target="_blank">http://ionio.bandcamp.com/</a></p>
                <p><strong>TELEDETENTE 666 (F)</strong></p>
                <p><a href="http://sweetrotrecords.bandcamp.com/album/teledetente-666"
                                target="_blank">http://sweetrotrecords.bandcamp.com/album/teledetente-666</a></p>
                <p><strong>2 BOULES VANILLE (F)</strong></p>
                <p><a href="https://soundcloud.com/deux-boules-vanille"
                                target="_blank">https://soundcloud.com/deux-boules-vanille</a></p>
                <p><strong>LEM PHAGO (CH)</strong></p>
                <p><a href="http://lemphago.bandcamp.com/" target="_blank">http://lemphago.bandcamp.com/</a></p>
                <p><strong>LLAMAME LA MUERTE (F)</strong></p>
                <p><a href="http://llamamelamuerte.blogspot.de/" target="_blank">http://llamamelamuerte.blogspot.de/</a>
                </p>
                <p><strong>FILLETTE (F)</strong></p>
                <p><a href="http://fillette.bandcamp.com/album/fillette"
                                target="_blank">http://fillette.bandcamp.com/album/fillette</a></p>
                <p><strong>SHOSHANA (ISR)</strong></p>
                <p><a href="http://shoshanaa.bandcamp.com/track/troops"
                                target="_blank">http://shoshanaa.bandcamp.com/track/troops</a></p>
                <p><strong>GRRRRRRR!!!!!</strong></p>
        </div>






















































        <div class="meta">



        </div>
















</div>