---
layout: base.njk
---

<div class="post">
    <div class="text">
        <div class="title">NOISEFEST 2018</div>
        <p>After a long, long break this is the shining resurgence of <strong>Claws Of Saurtopia</strong>—the infamous
            festival for noise, “music” and all things jurassic—taking place <strong>1st and 2nd of June 2018</strong>!
        </p>
        <p><img src="../media/2018.jpg">
        </p>
        <p><strong>FRIDAY, June 1</strong></p>
        <p><strong><a href="https://plazach.bandcamp.com/album/chryste-panie">Chryste Panie</a></strong> (PL | <a
                href="https://plazach.bandcamp.com">Plaża Zachodnia</a>)<br><a
                href="http://nwwn.tk/"><strong>NW</strong></a> (F | <a href="http://rohsprod.free.fr/ROHS_PROD.htm">RoHS
                Prod.</a>)<br><a href="https://post-mat.bandcamp.com"><strong>Post-Materialists</strong></a> (RUS | <a
                href="https://p-mm.bandcamp.com">Post-Materialization Music</a>)<br><a
                href="http://www.donvitodonvito.de"><strong>Don Vito</strong></a> (D | <a
                href="https://tremorpanda.wordpress.com">Tremor Panda Records</a>) <br><a
                href="http://moncul.org/bands/le-death-to-mankind/"><strong>Le Death To Mankind</strong></a> (F | <a
                href="http://moncul.bandcamp.com">Et Mon Cul C'est Du Tofu ?</a>)<br><a
                href="https://aemong.bandcamp.com"> <strong>Aemong</strong></a> (TW/BR | <a
                href="https://diskotopia.bandcamp.com">Diskotopia</a>)<br><strong><a
                    href="https://soundcloud.com/zad-kokar">Zad Kokar</a></strong> (F | <a
                href="https://petite-nature.bandcamp.com">Petite Nature</a>)<strong><a
                    href="https://soundcloud.com/travail-rythmique"><br></a></strong></p>
        <p>Visuals by <a href="https://bluescreenisourgod.tumblr.com/"><strong>Señora</strong></a></p>
        <p>After show with:<br><strong><a href="https://soundcloud.com/travail-rythmique">Travail Rythmique</a></strong>
            (F | <a href="http://www.travailrythmique.eu">Travail Rythmique</a>)<br><a
                href="https://kcmusique.wordpress.com"><strong>supaKC x noisy answer</strong></a> (D | <a
                href="https://afriendinneed.bandcamp.com">a friend in need</a>)<strong><a
                    href="https://soundcloud.com/travail-rythmique"><br></a></strong></p>
        <p><strong>SATURDAY, June 2</strong></p>
        <div class="samstag_wiki" id="samstag_wiki_275506">
            <p>Noise lecture by<strong> <a href="http://stauropygial.org/sasq">Stop Asking Stupid Questions</a></strong>
                (RUS | <a href="http://stauropygial.org">Stauropygial</a>)</p>
            <p><a href="https://soundcloud.com/urge-caen"><strong>Urge</strong></a> (F)<br><a
                    href="https://soundcloud.com/horst-du-noch"><strong>Horst Du Noch</strong></a> (F | <a
                    href="https://retrofutur.bandcamp.com">retrofutur</a>)<br><a
                    href="https://peterjamestaylor.net"><strong>Peter James Taylor</strong></a> (UK | Fortissimo
                Records)<br><a href="http://damearea.bandcamp.com"><strong>Dame Area</strong></a> (ES | <a
                    href="https://peterjamestaylor.net">Màgia Roja</a>) <br><a
                    href="http://www.2boulesvanille.com"><strong>Deux Boules Vanille</strong></a> (F | <a
                    href="http://www.kythibong.org">Kythibong</a>)<br><a
                    href="https://wetware-nyc.bandcamp.com"><strong>WETWARE</strong></a> (USA | <a
                    href="https://daisrecords.bandcamp.com">Dais Records</a>)<br><a
                    href="http://www.rullyshabara.id/zoo"><strong>ZOO</strong></a> (ID | <a
                    href="http://yesnowave.com">Yes No Wave Music</a>)<strong><br></strong></p>
            <p>After show with:<strong><br><a href="https://soundcloud.com/valentine-torque">Roland Moog</a></strong>
                (F)<strong><br></strong><a href="https://soundcloud.com/salsa-ohyeah"><strong>Salsa</strong></a> (F | <a
                    href="http://mmodemm.com/">MMODEMM</a>)</p>
        </div>
    </div>
</div>