<embed type="audio/mpeg" src="../media/4206640548.mp3"></embed>';

<div class="caption">
    <p>Headwar - Lance Biquette</p>
</div>

<div id="footer">
    <span id="timestamp"> March 30th, 2011 12:59pm </span>
</div>