---
layout: archive-post.njk
---

<div class="post">


    <div class="text">

        <div class="title">Archive</div>
        <div class="post_content clearfix">
            <div class="post_content_inner clearfix">
                <div class="post_container">
                    <div class="post_title">
                        <p><strong>May 24, 2019</strong></p>
                        <p><img src="../media/tumblr_inline_pt3htwRvZc1qhokdt_500.jpg">
                        </p>
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — —</p>
                        <p><strong>March 18, 2019</strong></p>
                        <p><img
                                src="https://64.media.tumblr.com/d8d986853481ca7f82ead8c51f8f8a0d/tumblr_inline_pt3ht51DYO1qhokdt_500.jpg">
                        </p>
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — —</p>
                        <p><strong>February, 16, 2019</strong><img
                                src="https://64.media.tumblr.com/96eb83f62020f0a98469a1b197bd688c/tumblr_inline_pt3hs4xfuq1qhokdt_500.jpg">
                        </p>
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — —</p>
                        <p><strong>December 14, 2018</strong></p>
                        <p><img
                                src="https://64.media.tumblr.com/1e20e90d0685e1915512f28e984acb19/tumblr_inline_pt3hrgrIJh1qhokdt_500.jpg">
                        </p>
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — —</p>
                        <p><strong>September 12, 2018</strong></p>
                        <p><img
                                src="https://64.media.tumblr.com/23427142204b80a3a98aa23ab9d3c4cd/tumblr_inline_pt3hq7uaFo1qhokdt_500.jpg">
                        </p>
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — —</p>
                        <p><strong>November 11, 2018</strong></p>
                        <p><img
                                src="https://64.media.tumblr.com/b3406f33b6239c15cc9f86f865c45389/tumblr_inline_pt3ho5p1re1qhokdt_500.jpg">
                        </p>
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — —</p>
                        <p><strong>May 28, 2018<br></strong></p>
                        <div class="media-holder media-holder-draggable media-holder-figure" style="display: block;">
                            <figure class="tmblr-full" data-orig-height="2480" data-orig-width="1754"><img
                                    src="https://64.media.tumblr.com/6edb1b5e955f18149e1ac4e21280ac4d/tumblr_inline_p93jiwJEK81qhokdt_500.jpg"
                                    data-img-key="833" data-orig-height="2480" data-orig-width="1754" width="500"
                                    height="707"></figure>
                            <div class="media-button icon_close media-killer"></div>
                        </div>
                        <p>Income tax refund<br> presents</p>
                        <p><br><strong>DOLPHINS</strong> [slacko pop | Leipzig]<br><br> No-pudency chill pop from
                            Leipzig. You know'em by now, don’t you?<br><br><a
                                href="https://www.facebook.com/Underwaterwaterwater">https://www.facebook.com/Underwaterwaterwater</a><br><a
                                href="https://dolphinsunderwater.bandcamp.com/">https://dolphinsunderwater.bandcamp.com</a><br><a
                                href="https://www.youtube.com/watch?v=jpWMcesy6Gc">https://www.youtube.com/watch?v=jpWMcesy6Gc</a><br><a
                                href="https://www.youtube.com/channel/UCohxGaTnM6hWyP3ahF-mvVg">https://www.youtube.com/channel/UCohxGaTnM6hWyP3ahF-mvVg</a><br><br><br><strong>
                                FREAK HEAT WAVES</strong> [art punk | Toronto] <a
                                href="https://www.facebook.com/Telephoneexplosionrecords/">Telephone Explosion</a>/<a
                                href="https://www.facebook.com/HockeyDadRecords/">Hockey Dad Records</a><br><br> From
                            the orbit of bands like <a
                                href="https://www.facebook.com/Preoccupationsband/">Preoccupations</a> (ex-Viet
                            Cong/Women) or Cindy Lee this duo brings to stage a most strange version of
                            post-punk-influenced pop. Hear for yourselves…<br><br><a
                                href="https://freakheatwaves.bandcamp.com/">https://freakheatwaves.bandcamp.com</a><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Fsoundcloud.com%2Ftelephoneexplosion&amp;h=ATOGTniwkpk3hk_7fyANT5bzEuBh6SQ9W3PYwVPE5O_9n6lsUwebxIku9rmspysk3hLLo-BflBJ_WOv5NGyGwNZQ6XV-vXRHM_QI2SYPNO6RezyqYjqwWDMXBD8EBhXLDIj9">https://soundcloud.com/telephoneexplosion</a><br><br><br><strong>
                                NEW FRIES</strong> [no wave punk | Toronto] Telephone Explosion/<a
                                href="https://www.facebook.com/pleasencerecords/">Pleasence Records</a><br><br> This
                            band has it all: exigent ESG-style basslines, stoic rumblings and ramblings as heard in
                            bands like Spray Paint, trippling and pressing vocals as Priests—a bludgeoning
                            mixxx…<br><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Fnewfries.bandcamp.com%2F&amp;h=ATOrrnY1Rc8aK52RS-WTI7ynlVthoLXuZ2qxI2EiwaV6C8WAbTai9lriDrTqbV9rOmRxnLI2SV7AuPuG-PS2Z9VAzSS4rxqKiXEEdZa2Xz3O5aBTxvLwIhrY2VVB4zxfHa8L">https://newfries.bandcamp.com</a><br><br><br>
                            LOCATION KxHx<br> DOORS/TÜR/PORTES 8pm</p>
                        <p>Poster by Malwine<br> ᑕू∙ો ੍ <a
                                href="http://malwines.tumblr.com/">http://malwines.tumblr.com</a></p>
                        <p>don’t forget your earplugs!<br>— — — — — — — — — — — — — — — — — — — — — — — — — — —</p>
                        <p><strong>May 26, 2018<br></strong></p>
                        <div class="media-holder media-holder-draggable media-holder-figure">
                            <figure class="tmblr-full" data-orig-width="680" data-orig-height="960"><img
                                    src="https://64.media.tumblr.com/1aeb4e1e4a4f606d57609058e47a814b/tumblr_inline_p9c38rxLhY1qhokdt_500.jpg"
                                    data-img-key="425" data-orig-width="680" data-orig-height="960" width="500"
                                    height="706"></figure>
                            <div class="media-button icon_close media-killer"></div>
                        </div>
                        <p><strong> Income tax refund and New Thing in Cartons present</strong></p>
                        <p><strong> GHILLIE SUIT</strong> (Oakland, US)<br> new electronic duo members of exit group
                            &amp; dry erase . <br> Spastic &amp; analog noise synths with over hip-hop beats &amp; pop
                            jams. calculators.<br> first show - ONLY EUROPE SHOW</p>
                        <p><br><strong>PURPUR SPYTT</strong> (CH | Le Syndicat de Scorpions)<br> No wave one-woman band
                            with schizophrenic tendency. A bassline, a few guitar-ish harmonies, an eighties synth, a
                            drum machine hidden in the loop pedals and two voices for the price of one.<br><a
                                href="https://lesyndicatdesscorpions.bandcamp.com/album/nitpick">https://lesyndicatdesscorpions.bandcamp.com/album/nitpick</a>
                        </p>
                        <p>Location: T|FF <br> Time: 9pm</p>
                        <p>[poster by <a class="_1ii5 _2yez" href="https://www.behance.net/giuliacabassi" id="js_10"
                                data-hovercard="/ajax/hovercard/hovercard.php?id=1492951486&amp;extragetparams=%7B%7D">Giulia
                                Cabassi</a>]</p>
                        <p>— — — — — — — — — — — — — — — — — — — — — — —</p><strong>May 19, 2018, 9pm (!)</strong>
                        <p><strong><img
                                    src="https://64.media.tumblr.com/82f42152e720b8e066bd4a33d47ccb21/tumblr_inline_p8yxvigzlQ1qhokdt_500.jpg"></strong>
                        </p>
                        <p><strong>PAUNSDORF ROCK ACADEMY Allstar Night !! @ T6 / Connewitz</strong><br><br><strong>WARM
                                SWORDS </strong>[nz,ch,pownsdorf | lofi,garage,punk] <br><br> “Solo-project” of <a
                                href="https://www.facebook.com/pleasebanmusic/">Regal</a>s very own Caelan O'Flaherty.
                            Born in New Zealand, raised in France, lived in Belgium, now living in Leipzig &nbsp;where
                            he found his live band featuring two members of <a
                                href="https://www.facebook.com/thestaches/">The Staches</a> / <a
                                href="https://www.facebook.com/maraudeur9/">Maraudeur</a>. Eight songs recorded on his
                            own, continuing where Regal once stopped. “Demostruction” is the first attempt to grow,
                            showing what’s possible and that LoFi Garage is a real thing. <br><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwarmswords.bandcamp.com%2F&amp;h=ATNRKmQbS13lwQEuthB5ko7kOyy01HrEjCHY5t4TfXgUXcuTARNG0gydB565Iwm06O6EVHhFcpWgJScLCf9S1-2lgvDssk7ZPN8AStNJ9PFYWlZbnXRiZKh0MVg84N_ng-3X">https://warmswords.bandcamp.com/</a><br><br><br><strong>LASSIE
                            </strong>[pownsdorf | garage, new wave, eu-punk]<br><br> “New Wave. Not in a some
                            platitudinous “planning a theme party” big hair/funny sunglasses/talkin’ Valley Girl kind
                            out of way. I’m talking truly bonified oddballs. Too freaky for the crowd that took theater
                            class and boisterous and funny for the kids that always hung out in the art room. They may
                            not be hip with the coolest and newest music out there, but everything they were into was a
                            bit strange and usually listened to at a ridiculously loud volume. […] <br> I dunno about
                            your neighborhood but mine could sure use a combo of loons like Lassie. I would then know
                            that if I saw a flyer for a new wave dance party happening around town, it just wouldn’t be
                            some boor playing Howard Jones mp3’s off his laptop.“ (Dale Merrill/Smashin
                            Transistors)<br><br> …LASSIE will play first at 9pm sharp!! <br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Flasssie.bandcamp.com%2F&amp;h=ATOtgjh8VFl5e6dEyw9kJw2S-xAu6rtldlDg1nTt-qMtuP2N7ZOVn9epBnSKIXobVJV3MNGKjNN77Bn9yo0MMeTjFX1yckHirN5yRTp9XayPN1jNKdhSNDpLjJ9NPkNZlBhD">https://lasssie.bandcamp.com</a><br><br><strong>TRAASHBOO
                            </strong>[le | noise, fal-core]<br><br> noise-punk-techno performance by a huffy trashman
                            (on vocals and guitar) and his whipping boy.<br><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DPL2eMSVsLfY&amp;h=ATNBM3Odfo9v_0Nm0Uu7ouSN2zSlRwwo8ynIbXYYpB53StLUrw2YZRpwMg5atnNTq7M3LlvyE9MfZmXNZu6bB8GVP7_ObgVy0npKHCOpbkQlnldyUf7jEcpPn6OPY07L3k7L">https://www.youtube.com/watch?v=PL2eMSVsLfY</a><br><br><br><strong>DREHSCHEIBE
                                POWNSDORF DJ Team</strong><br> (including members of Lassie &amp; Staches &amp; <a
                                href="https://www.facebook.com/thegoldenschmucks/">The Golden Schmucks</a>)<br><br> all
                            night long! New Wave/Punk/Garage/Daddy Rock/Hits<br><br> LOCATION: T6 [txxhrbxchxr str 6 /
                            Connewitz]<br> DOORS: 20h00<br> START: 21h00 sharp!!!!!<br> CURFEW: next morning<br><br>
                            don’t forget your WGT outfit.</p>
                        <p>[Poster by <a href="https://fuzzgun.bigcartel.com/">FUZZGUN</a>]</p>
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — — </p>
                        <p><img
                                src="https://64.media.tumblr.com/d6057ef4da4a971c69ce0172df2716e5/tumblr_inline_p81zxjsKZR1qhokdt_500.jpg">
                        </p>
                        <p><strong>Sunday, 6th May 2018 </strong></p>
                        <p><a href="https://www.facebook.com/WHAT-WE-DO-529250337165123/" id="js_2y"
                                data-hovercard="/ajax/hovercard/page.php?id=529250337165123&amp;extragetparams=%7B%22directed_target_id%22%3A163344951007310%7D"
                                data-hovercard-prefer-more-content-show="1">WHAT WE DO</a> and <a
                                href="https://www.facebook.com/refundtaxincome/"
                                data-hovercard="/ajax/hovercard/page.php?id=864045530272948&amp;extragetparams=%7B%22directed_target_id%22%3A163344951007310%7D"
                                data-hovercard-prefer-more-content-show="1">Income tax refund</a> <br>
                            present<br><br><strong>Marbled Eye</strong><br> [Oakland, USA | <a
                                href="https://www.facebook.com/erstetheke/"
                                data-hovercard="/ajax/hovercard/page.php?id=214644235401399&amp;extragetparams=%7B%22directed_target_id%22%3A163344951007310%7D"
                                data-hovercard-prefer-more-content-show="1">Erste Theke Tonträger</a>, <a
                                href="https://www.facebook.com/digitalregress/"
                                data-hovercard="/ajax/hovercard/page.php?id=1109433039100992&amp;extragetparams=%7B%22directed_target_id%22%3A163344951007310%7D"
                                data-hovercard-prefer-more-content-show="1">Digital Regress</a>, <a
                                href="https://www.facebook.com/meltersmusic/"
                                data-hovercard="/ajax/hovercard/page.php?id=137968652961123&amp;extragetparams=%7B%22directed_target_id%22%3A163344951007310%7D"
                                data-hovercard-prefer-more-content-show="1">Melters</a>, <a
                                href="https://www.facebook.com/gonewiththeweed/"
                                data-hovercard="/ajax/hovercard/page.php?id=228873883849326&amp;extragetparams=%7B%22directed_target_id%22%3A163344951007310%7D"
                                data-hovercard-prefer-more-content-show="1">Gone With The Weed</a>]<br><br> Whacked out
                            Post-Punk from Oakland, CA.<br><a href="https://marbledeye.bandcamp.com/" rel="nofollow"
                                target="_blank" data-lynx-mode="async"
                                data-lynx-uri="https://l.facebook.com/l.php?u=https%3A%2F%2Fmarbledeye.bandcamp.com%2F&amp;h=ATNrdjiMTJeunHDIX2jH5Vj7Cq4BxLMeTp4vPoMcGDmdZhaau-EiKmeodYoxUdoIB90-sSYEq2RNTpDM3erFJkD0l8S-of2o74fGZxnXkD9moEMnYBfy7Gu2X-xq0fNYll0nCCXrN5kn_7Hwqg">https://marbledeye.bandcamp.com/</a>
                        </p>
                        <p><br><strong>The Staches</strong> <br> [Geneva/Leipzig | <a
                                href="https://www.facebook.com/Six.Tonnes.De.Chair.Records/"
                                data-hovercard="/ajax/hovercard/page.php?id=168976613217739&amp;extragetparams=%7B%22directed_target_id%22%3A163344951007310%7D"
                                data-hovercard-prefer-more-content-show="1">Six Tonnes De Chair Records</a>, <a
                                href="https://www.facebook.com/BongoJoeLabel/"
                                data-hovercard="/ajax/hovercard/page.php?id=318196438595322&amp;extragetparams=%7B%22directed_target_id%22%3A163344951007310%7D"
                                data-hovercard-prefer-more-content-show="1">Les Disques Bongo Joe</a>]<br><br> Two girls
                            and two guys from Geneva, Switzerland - now residing in Leipzig. They’ve been sticking
                            together for ages now and relentlessly working on blending together Garage, Girl Punk, Lo-Fi
                            Pop and Psychedelic music.<br><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Fthestaches.bandcamp.com%2F&amp;h=ATOTQgxNbxtJRhk_NpBY2WX0pJhK_3PNwmKNqMVh1RH5TM9yVX0PSgXStUds4XBkO6inndnX55Alax7gE7vUYA1Gpx-p6TWn90bHSvugpkM83jqUZBz2C1_sC7i2kZsck3Rs"
                                rel="nofollow" target="_blank"
                                data-lynx-mode="asynclazy">https://thestaches.bandcamp.com/</a><br><a
                                href="https://www.facebook.com/">https://www.facebook.com/</a>thestaches<br><br><br><strong>Moron</strong>
                            [Berlin]<br><br> new high speed punk outfit feat. members of <a
                                href="https://www.facebook.com/throughbeingnew/"
                                data-hovercard="/ajax/hovercard/page.php?id=703998603098545&amp;extragetparams=%7B%22directed_target_id%22%3A163344951007310%7D"
                                data-hovercard-prefer-more-content-show="1">Die Tunnel</a>, <a
                                href="https://www.facebook.com/dulacdulacdulac/"
                                data-hovercard="/ajax/hovercard/page.php?id=153534988049597&amp;extragetparams=%7B%22directed_target_id%22%3A163344951007310%7D"
                                data-hovercard-prefer-more-content-show="1">Dulac</a> and Ex-Diel.<br><br>LOCATION: your
                            favorite Trailer Park in the west<br> DOORS/TÜR/PORTES 8pm<br> START/START/START 9pm<br><br>
                            don’t forget your earplugs!</p>
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — — </p>
                        <p><img
                                src="https://64.media.tumblr.com/285f842348ea417641520137661efcea/tumblr_inline_p85rjn4Apc1qhokdt_500.jpg">
                        </p>
                        <p>PRXCHT &amp; <a href="https://www.facebook.com/refundtaxincome/"
                                data-hovercard="/ajax/hovercard/page.php?id=864045530272948&amp;extragetparams=%7B%22directed_target_id%22%3A354430175067317%7D"
                                data-hovercard-prefer-more-content-show="1">Income tax refund</a><br>
                            present<br><br><strong>Lemones</strong> [acid noise rock | Belgium] Post-Materialization
                            Music<br><br> As part of their <a
                                href="https://www.facebook.com/events/224098994811441/?acontext=%7B%22action_history%22%3A%22null%22%7D&amp;action_history=null"
                                data-hovercard="/ajax/hovercard/event.php?id=224098994811441&amp;extragetparams=%7B%22action_history%22%3A%22null%22%2C%22directed_target_id%22%3A354430175067317%7D"
                                data-hovercard-prefer-more-content-show="1">Lemones ϟ scummetery tour</a> this band—who
                            brought you the already-a-classic lo-fi hit single “Young Professionals"—will hit Leipzig in
                            order to totally fucking mow down everything with self-built lemon guitars and boosted trash
                            drums.<br><br><a
                                href="https://p-mm.bandcamp.com/">https://p-mm.bandcamp.com/</a>album/pmm-lemones-parasites-by-the-trashboard-side<br><a
                                href="https://www.youtube.com/">https://www.youtube.com/</a>channel/UC37CnFLGMEZ2N_j0QaQV29A<br><br><br><strong>Weird
                                Dust</strong> [BGM/funkatronica | Belgium] <a
                                href="https://www.facebook.com/kermkermkerm/"
                                data-hovercard="/ajax/hovercard/page.php?id=235417273258059&amp;extragetparams=%7B%22directed_target_id%22%3A354430175067317%7D"
                                data-hovercard-prefer-more-content-show="1">KERM</a><br><br> Weird/Dust is <a
                                href="https://www.facebook.com/tavexxotic/"
                                data-hovercard="/ajax/hovercard/page.php?id=352969621544264&amp;extragetparams=%7B%22directed_target_id%22%3A354430175067317%7D"
                                data-hovercard-prefer-more-content-show="1">Tav Exotic</a>’s Mike C. and the perfect
                            soundtrack to Carrera car racing tracks and old VHSs.<br><br><a
                                href="https://soundcloud.com/">https://soundcloud.com/</a>michael-crabb-327282452<br><br><br>
                            DJ support:<br><strong>Ernesto González</strong> b2b <strong>Judith Crasser</strong><br>
                            PRXCHT regular Ernesto (aka <a href="https://www.facebook.com/bearboneslaylow/"
                                data-hovercard="/ajax/hovercard/page.php?id=175721205857268&amp;extragetparams=%7B%22directed_target_id%22%3A354430175067317%7D"
                                data-hovercard-prefer-more-content-show="1">Bear Bones, Lay Low</a>) and resident Judith
                            teaming up for the first time!<br><br><a
                                href="https://soundcloud.com/">https://soundcloud.com/</a>bearboneslaylow<br><a
                                href="https://soundcloud.com/">https://soundcloud.com/</a>judithcrasser<br><br><br>
                            LOCATION ask a confidant<br> DOORS/TÜR/PORTES 8:30pm<br><br><br> poster by Lina<br><a
                                href="https://l.facebook.com/l.php?u=http%3A%2F%2Flinaehrentraut.de%2F&amp;h=ATMPkgSCx7D0SkLcCBirpG-ps1yLFzbM9QSoHLXCpy-5eRvGG5tFe27EyJdDQXgYVc_nYZJaDNCy2Ow0mpsb-ABsL5h1BkuTKg0GyUeAnD8qRzsiecce"
                                rel="nofollow" target="_blank"
                                data-lynx-mode="asynclazy">http://linaehrentraut.de</a><br><a
                                href="https://www.instagram.com/">https://www.instagram.com/</a>linaehrentraut<br><a
                                href="https://l.facebook.com/l.php?u=http%3A%2F%2Flapakas.tumblr.com%2F&amp;h=ATOR2JsDoTYC42PiPO3Apa4d3LWjz9pVVCc2yLRU-tQAg9UN-nMbZ3U3RYXmrL8RqB32K2qkicZiLjJ6fbD4nhxAxUJsS7X7ErsWhMSqce_lDRCHRxrw"
                                rel="nofollow" target="_blank"
                                data-lynx-mode="asynclazy">http://lapakas.tumblr.com</a><br><br> don’t forget your
                            earplugs!</p>
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — — </p>
                        <p><strong><strong>Claws of Saurtopia Noise Fest Warm-Up #4</strong></strong></p>
                        <p><img
                                src="https://64.media.tumblr.com/010de2ebaa0a232ddfc0bb71d4a79c8f/tumblr_inline_p81zu0ZyDO1qhokdt_500.jpg">
                        </p>
                        <p><strong>Thursday, 3rd May 2018 </strong><br><br><strong> Enob</strong><br> Powerful, dark
                            chocolat pie with some itchy sprinkles. Can be heard as Noiserock.<br><a
                                href="https://enob.bandcamp.com/">https://enob.bandcamp.com/</a><br><br><strong>
                                (…)</strong><br> A mixture of things found in the fridge after a long night. Once also
                            described as “Gaya-Punk”.<br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Flustlocus.bandcamp.com%2F&amp;h=ATPKImXqvqIt9sbOn3gEdrpFuegFOF57wiKadMDw6bF3mvCIFPOXBeU4dmdUh97HTI-DiiulDaltNeSORPoRCLnhHLNxM8XnpEB5qewqRwqa2VLIDoF8bewBi-soZbTrWeJd">https://lustlocus.bandcamp.com/</a><br><a
                                href="https://www.youtube.com/watch?v=tP_OP_IDQQ4">https://www.youtube.com/watch?v=tP_OP_IDQQ4</a><br><a
                                href="https://www.youtube.com/watch?v=sGLNOzKWLIU">https://www.youtube.com/watch?v=sGLNOzKWLIU</a><br><a
                                href="https://www.youtube.com/watch?v=1eqmsgoQvlg">https://www.youtube.com/watch?v=1eqmsgoQvlg</a><br><br><strong>
                                randomismyname</strong><br> A sort of soup, changing recipe, always good to your
                            stomach. “Trust” wrote: Noise from a construction site. That’s not quite it.<br><a
                                href="https://soundcloud.com/randomismyname">https://soundcloud.com/randomismyname</a>
                        </p>
                        <p>++++<strong>Special Guests and Bolivian Punkrock-Tapes</strong>++++&nbsp;</p>
                        <p>LOCATION SPXLXNKX<br>DOORS/TÜR/PORTES 8:30pm</p>
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — —</p>
                        <p><strong>Claws Of Saurtopia, Income Tax Refund &amp; SPXLXNKX go GieszerFest </strong><br><br>
                        </p>
                        <div class="media-holder media-holder-draggable media-holder-figure">
                            <figure class="tmblr-full" data-orig-width="3000" data-orig-height="3732"><img alt="image"
                                    src="https://64.media.tumblr.com/feaf85001d2dc0d7bdf379530d8818c1/tumblr_inline_p7v10tSwOY1qhokdt_500.jpg"
                                    data-orig-width="3000" data-orig-height="3732" width="500" height="622"></figure>
                            <div class="media-button icon_close media-killer"></div>
                        </div>
                        <p>Some basic information:</p><strong>Saturday, 28th April 2018</strong><br><br><strong><a
                                href="https://www.facebook.com/barlogband/">Barłóg</a></strong> [Poland] <a
                            href="https://www.facebook.com/crksalka/">CRK Salka</a> — rhythmic noise<br><br>»Barłóg is
                        another offshoot of the Wrocław-based CRK rehearsal room. It’s comprised of ex-members of bands
                        such as Norymberga, Jan Chrzciciel John the Baptist and Róża Lux - with Barłóg being
                        stylistically distant towards all of the above mentioned. Currently the band has been working on
                        their debut release produced by legendary Geza X Gedeon.«<br><br><a
                            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fbarlog.bandcamp.com%2F&amp;h=ATMpkpTT50B9nePZasx0vwcirO9x0ZfUOGel5i2k31sG4wyOtxivUMv-8kZP_KylhRVxgAAvJK4g2I1XeTKyu6kYDO5xTvV7tVg4gOrL75fbjKqRKbzHofLAAMGPZ0_tOW8&amp;s=1">https://barlog.bandcamp.com</a><br><a
                            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fvimeo.com%2F133329014&amp;h=ATOvFcBMEsg8aDr8ZfHW_lWn2ENeUgJqdgienWZVKAs_--sFh_rxdrZ99oQyrnQL4pQqLs_3YTR87ekpgFECrIc5g52E7i1hig40J9RvnRU7lH8uTacoUC_x-Vx0Oz1GOng&amp;s=1">https://vimeo.com/133329014</a><br><a
                            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHjqGvIgg-5M&amp;h=ATOg61S7jlTJVTFk3ikvI6EmzHHF-G1Q--FGoYEDWLfPrb36HLpMn-it2ZfYePdadl0EVuuZlNp5QL-AN_RphrT6YNGiKPSdjXhjSFhzCWaVBtTmnCv8UO6s0oNlzFOl-7E&amp;s=1">www.youtube.com/watch?v=HjqGvIgg-5M</a><br><a
                            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DuhT6Eb9Puyw&amp;h=ATOdqYbLLU32a335--7ekHDTFLQz91V1WdpktPUy-N_3xupYy6qCuiMhYmu5FAO71DPM9pUUDbgjFMW8bhBiysVynIMjQOL8g9GYV3LxMQZxbdNP5NtGx8U49ZY6sovf5To&amp;s=1">https://www.youtube.com/watch?v=uhT6Eb9Puyw</a><br><a
                            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DB1Ag4HFVqI&amp;h=ATNMAvj9qfrN93rXcnRcQk4NULl76o4YmU9KNVxQsBb8NU__YrOOGH58EFR4UElhN4cBADjwJlX6pvJZkkWYoTxuqTk_SQglKfFp3kxleIFXh1fS3GxqEBIsn0313ot9i-g&amp;s=1">https://www.youtube.com/watch?v=B1Ag4HFVqI</a><br><br><br><strong><a
                                href="https://www.facebook.com/biggestrat/">Biggest Rat</a></strong> [Berlin] <a
                            href="https://www.facebook.com/crksalka/">CRK Salka</a> — sophisti-noise<br><br>»Biggest Rat
                        is Joe Biggerstaff, a multi-instrumentalist who has been making bedroom recordings since age 15.
                        In Biggest Rat he tries his hand at pop music, drawing on a range of influences including Lee
                        Hazlewood, Scott Walker, and R. Stevie Moore, refracted through a lo-fi 90s slacker
                        lens.«<br><br><a
                            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fbiggestrat.bandcamp.com%2F&amp;h=ATNjY8dv55b78Ap98teHfmtW7dMvimMgSmaaNupqwGwMktSulGVg8ltNU4OJw3sEu-pW9Ojllq99YfZtzK6vLI0BrRXpZ97bVKtk4AF9fg8ifGJij23yUH7srdxw3F4yvpI&amp;s=1">https://biggestrat.bandcamp.com</a>
                        <br><br><strong><a href="https://www.facebook.com/collectif2035/">2035</a></strong> [Paris] —
                        free improv in rock and jazz <br><br>Guitar, saxophone, drums—improvise!<br><br><a
                            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fsoundcloud.com%2Fuser-744463536&amp;h=ATO_IC8FWDuB53BnKDdvOfgLvRwvs5PcIHiFegUz97DY7aUb-KK3lM6GH44A4lnL5moeTdvMXIxbnDjsWm1J67FN6KWq37oaJhO_F-HuaFczq5hRBE3cxZvFoIB5GyV2AB0&amp;s=1">https://soundcloud.com/user-744463536</a><br><br>LOCATION
                        SPXLXNKX<br>DOORS/TÜR/PORTES 8pm
                        <p><strong><strong>— — — — — — — — — — — — — — — — — — — — — — — — — — —</strong></strong></p>
                        <p><strong><strong>Claws of Saurtopia Noise Fest Warm-Up #3</strong></strong></p>
                        <p><strong><a href="https://www.facebook.com/refundtaxincome/">Income tax refund</a> &amp; <a
                                    href="https://www.facebook.com/clawsofsaurtopia/">Claws Of Saurtopia</a>
                                present</strong></p>
                        <div class="media-holder media-holder-draggable media-holder-figure">
                            <figure class="tmblr-full" data-orig-width="820" data-orig-height="430"><img alt="image"
                                    src="https://64.media.tumblr.com/40dd66bdf9d4859b4c336299dbe232c8/tumblr_inline_p7v1lt4IGF1qhokdt_500.jpg"
                                    data-orig-width="820" data-orig-height="430" width="500" height="262"></figure>
                            <div class="media-button icon_close media-killer"></div>
                        </div>
                        <p><br><strong>Thursday, 12th April 2018</strong><br><br><strong><a
                                    href="https://www.facebook.com/kurws/">Kurws</a></strong> [Poland] <a
                                href="https://www.facebook.com/Gusstaff.Rec/">Gusstaff Records</a> —
                            jazz-punk<br><br>Come on, you should know this band by now—at least if you’re into any,
                            like, Skin Graft band at all… Super-jagged rhythms, bass riffs like tempests and guitar
                            noises from beyond—this time marbled with some saxophone sounds, hopefully.<br><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Fkurws.bandcamp.com%2F&amp;h=ATM0nlQZPsRKe838Vvn8Nti9x4cY1NHAxfX-bCdNxCiSYhKM5zlg-pgA5zWzRvgZH3OuRi27mowPtPGEwgKKAbAwkZ9TGU96gJzHV8kxsBH9iYhAZ34QNIREoqBHKr36nQY&amp;s=1">https://kurws.bandcamp.com</a><br><br><br><strong>Horacio
                                Pollard </strong>[Berlin] <a href="https://www.facebook.com/DRIDMACHINE/">Drid
                                Machine</a> — tribal noise<br><br>Funny enough, Horacio’s got an entry at <a
                                href="https://www.facebook.com/monoskoplog/">Monoskop Log</a>—that is quite dated
                            though, but nevertheless:<br>»Half English, half Argentine ›noise-eccentric‹ Horacio Pollard
                            has been active in the field of experimental music since 2002 and has released a number of
                            CD/Rs on various labels as well as a split 7” with MOHA!. A member of Clifford Torus and
                            Fully Blown Dental Reform, he also runs his own label Neigh%Music. Armed with a Korg DDD1
                            sampler / drum machine, he delivers here an exhilarating avalanche of distorted jams filled
                            with heavy analogue riffs, hypnotic jazzy grooves and fierce noise-drenched
                            rhymes.«<br><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Fhoraciopollard.blogspot.com%2F&amp;h=ATNDmqI3Ik1JpumCEFjj32RstcYLyrAxxkfNOtx8r1VZEYoTSSROLdxQ5zU4EVMgkovhLndt3vtc5_Ktg6mDihlxFTUrWfo78jEqVFrysQw5-VKyZv5NWCkPe5hkxKpUXyA&amp;s=1">http://horaciopollard.blogspot.com</a><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Fvimeo.com%2Fhoraciopollard&amp;h=ATNP2FnU5RYOXN4-CqFF4x7ZJ_wh6gvoGkgTqhDPv6Q7AGcAfHuzysJexf1aSuvXbZhiX8ZSqou8lVyaG43sd8JFjiiCZ0NTR9fHAwLNXJxZN4TVQwCsZy8IBOT0XrAn9W8&amp;s=1">https://vimeo.com/horaciopollard</a><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdridmachinerecords.bandcamp.com%2Falbum%2Fhoracio-pollard-frequencies-of-seizure&amp;h=ATNwiIAhaijNYd92IywkD_Cn9Og7k-Fb19WNVB4LYXDWyWfvTKYqc-5FdBPauoeCfHVlN-pwpa8MdsrTMpYkRlVglEJV_okM-3-Tw0_akTs8ILY8VGXYzegvVaNonJ4OI40&amp;s=1">https://dridmachinerecords.bandcamp.com/album/horacio-pollard-frequencies-of-seizure</a><br><br><br><strong><a
                                    href="https://www.facebook.com/Nystagmusduo/">Nystagmus</a> </strong>[Liège] La
                            Belle Borgne — free drum+bass improv <br><br>This is the duo of drummer Tom Malmendier from
                            the Belgian improv collective <a href="https://www.facebook.com/loeilkollectif/">L'oeil
                                kollectif</a> and Farida Amadou from your favourite noise-punk psychos <a
                                href="https://www.facebook.com/cokepiss/">Cocaine Piss</a> on bass guitar. As Nystagmus
                            they hit their respective instruments in very unexpected ways.<br><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DI4hA0-fWRDw&amp;h=ATPv9l8EhEdvSryJBxtF1Y2sKGNfcT3rI8mFXNsaKkvleYKNz40f6LFlCS4_PS9THyqSrCOvY7tZxCctQMzlN57WeYQOkjy5hVqzKVD5jVx6-j_DZGP8H0Wg25wnJ8Zb--E&amp;s=1">https://www.youtube.com/watch?v=I4hA0-fWRDw</a><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Flabelleborgne.bandcamp.com%2Falbum%2Fdancing-eyes-cd1&amp;h=ATOJFb6uw4cDHD3biSX6qDg4Ov3OjeuQvPaMb-Mpr91YrUpjczGgzFM9ttSBkHUikOLeQxdt6UMiYI9znyUSpxXUqLyXUodvc1gKJlZEUDl4-JFzwBnuSvejo8f2cnhRlvY&amp;s=1">https://labelleborgne.bandcamp.com/album/dancing-eyes-cd1</a><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.amadoufarida.com%2F&amp;h=ATMQj-oxU4IVHbbbVkwNwu-3xZeE_RvCgtmRQNEyUZZapdxw6RTMsFkS8_rA-OLhPIf314izSh81-f05HhihC92u23hkhi9rcPHR601NRi8obq2lzKG79kXFFIvvQFZABsM&amp;s=1">https://www.amadoufarida.com</a><br><a
                                href="https://l.facebook.com/l.php?u=https%3A%2F%2Ftomalmendier.wixsite.com%2Ftomalmendier&amp;h=ATPwzMjbnTvcaufa_RcTyVG0gWNO7UGBjR8PTMM3UpsPYxR8UPvZDVEJFJkajAd2Brfl0IHk1P8r7leuJhQqPAk7dpZS3RWWU6ryjuW3hVRc1mO0JdsXLH8NmASs2EL1oTI&amp;s=1">https://tomalmendier.wixsite.com/tomalmendier</a><br><br><br><strong><a
                                    href="https://www.facebook.com/gazelleofdeath/">Gazelle of
                                    Death</a></strong><br><br>He’s from Russia and he’s a driver for bands and
                            apparently he’s got a lot to tell the world, which is why people made comic books about him
                            that he co-authored. Some of them he’ll bring to the show at Spxlxnkx.</p><br>Spxlxnkx ///
                        Leipzig-West<br>DOORS/TÜR/PORTES 20:30h <br>START/START/START 21:00h <br>CURFEW/ENDE/FIN
                        23:30h<br><br>(dresscode: dinosaur)<br>don’t forget your earplugs!
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — —</p>
                        <p><strong>Claws of Saurtopia Noise Fest Warm-Up #2</strong></p>
                        <div class="media-holder media-holder-draggable media-holder-figure show-controls">
                            <figure class="tmblr-full" data-orig-width="1000" data-orig-height="1376"><img alt="image"
                                    src="https://64.media.tumblr.com/4c1f102e1463e5a6f99f3392f823477a/tumblr_inline_p80brdh1HS1qhokdt_500.jpg"
                                    data-orig-width="1000" data-orig-height="1376" width="500" height="688"></figure>
                            <div class="media-button icon_close media-killer"></div>
                        </div>
                        <p>As promised, here’s another warm-up show for Claws of Saurtopia Noise Fest 2018:</p>
                        <p><strong>Wednesday, 4th April 2018</strong></p>
                        <p><strong> TRRMÀ </strong>(it)<br> &nbsp;<br> Trrmà is a project of Giovanni Todisco
                            (Percussion) and Giuseppe Candiano (Synth). The music mix “classic” afrikaans and symphonic
                            percussion with modular synthesis. Tribal polyrithm’s &nbsp;percussion remind archaic and
                            ancient primitive dance &nbsp;combined &nbsp;to scifi and distopic feelings caming out from
                            synthetizers, and then sounds draws inspiration from electroacoustic music, abstract
                            electronics, grindcore, Japanese noise,mediterranean and symphonic music. The way of
                            composition is based on a simplification of some Iannis Xenakis &nbsp;schemes, creating more
                            &nbsp;immediate and imaginative soundscapes<br> &nbsp;<br> Influences: Xenakis, Sun Ra,
                            Curtis Roads, Russell Haswell, Crash Worship, Masonna<br> &nbsp;<br><a
                                href="https://lm.facebook.com/l.php?u=https%3A%2F%2Fsoundcloud.com%2Ftrrma-573724885%2Ftrrma-impro-2&amp;h=ATNRULRRZFZ0EPdKjJSAMWVh3qbaJcaOzUF0_XcMMV1XLY0lqbvOpkUP4mx4RKFx_DqJbPTmAPGXQQygbEaWHGI_41-EHur4iksXBJVpFixtLwUrRohUntaxMBU8s1Gndrv_">https://soundcloud.com/trrma-573724885/trrma-impro-2</a><br><a
                                href="https://lm.facebook.com/l.php?u=https%3A%2F%2Fsoundcloud.com%2Ftrrma-573724885%2Ftrrma-impro1&amp;h=ATPvcJz_tc4jHvqAoqZ2U9Q8UqpfT8Xl7noaoEjU-2JSygKq1dcqe9gE6oqNJS9B8fSPs2ie5IS3LSprhrWYj8YaRhuJfqq9QmqgLwAcYGUdOCOEMnzWbXt8HKlGAORZXpPm">https://soundcloud.com/trrma-573724885/trrma-impro1</a><br><a
                                href="https://lm.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D9dhi6iUALw0&amp;h=ATOdSuB1ZqM5JZLkDPGoYcNpawA0MuTsm3ZYbZsWwjFBq__Oi27m5uuUCCmEeBgr0uo2nk-_Q6QLgiCTfuHIzh8Vhy3D1DYIKbn0Co7LpenV1YZa1iTvYnOl6J7GSkMAMV8l">https://www.youtube.com/watch?v=9dhi6iUALw0</a><br><a
                                href="https://lm.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Do68E8J8U4uE&amp;h=ATMS3lGvtuAj3FGW3mSu5n7qYbZr_BoeQJdiwh-DvSorU8Kn7l7sckyKChAvz2abHYGhOH0L_iWvTqDwuOihlSOSYqRG5w1fv7WfS-9o3kx-NMOROgxH5wXCO6bM8ed8lt99">https://www.youtube.com/watch?v=o68E8J8U4uE</a><br>
                            &nbsp;<br> &nbsp;<br><strong>MIMI KAWOUIN </strong>(f)<br> &nbsp;<br> Hypnotic Messy
                            Mixture<br> Electromagnetic Waves Eating Feedback<br> Minimal Brutal Noise<br> Light Ryhtmic
                            Screams<br> Drowning Chaotic Live<br> &nbsp;<br><a
                                href="https://lm.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D7LRnOe-PADY&amp;h=ATMfFcA40pgc_Yty-nCTlz1DsYkmGyknE9oxpV4kNV-Y1k-AqJkYY0W-L80gqg8VPCXdbWd1n8pZvN9KwwtVJs5qPQAL6xEKVBl22HuOdI_Z-b_cx9fxk1swq3cxUgtgL4m6">https://www.youtube.com/watch?v=7LRnOe-PADY</a><br><a
                                href="https://lm.facebook.com/l.php?u=https%3A%2F%2Fikiktikikipik.bandcamp.com%2F&amp;h=ATO3oww21jTHj0T2b5XpNq5DyEPCwckVilMTGiTqQBgM7fQdAMZEub5uqWbdVFh2LVvGSzhbvGS3WJ3faAfroPmkTEdaE3Ah_sYnSN2hXUjyWLrojwQR8n9w-M5xTxGlMT8S">https://ikiktikikipik.bandcamp.com</a><br>&nbsp;
                        </p>
                        Location: SXMXLDX<br>8pm: essen + schnaps<br> 9pm: show!!!
                    </div>
                    <div class="post_title">
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — —</p>
                        <p><strong>Claws of Saurtopia Noise Fest Warm-Up #1</strong></p>
                        <div class="media-holder media-holder-draggable media-holder-figure">
                            <figure class="tmblr-full" data-orig-width="1665" data-orig-height="1183"><img alt="image"
                                    src="https://64.media.tumblr.com/7632504173feb9c5db9c430f5d7ab252/tumblr_inline_p80bj93jly1qhokdt_500.jpg"
                                    data-orig-width="1665" data-orig-height="1183" width="500" height="355"></figure>
                            <div class="media-button icon_close media-killer"></div>
                        </div>
                        <p>It’s all true! After a five year break there’ll be another Claws of Saurtopia Fest this
                            year—on June 1 and 2, 2018 to be exact. In order to prepare you and us for this noise
                            banquet, we’ll do some support shows. Here’s the first:</p>
                        <p><strong>Friday, 16th March 2018</strong></p>
                        <p><strong> <a href="https://m.facebook.com/MissTetanos/">Miss Tetanos</a></strong> [dancy kraut
                            wave / Belgium]<br><br><a
                                href="https://lm.facebook.com/l.php?u=https%3A%2F%2Fmisstetanos.bandcamp.com%2F&amp;h=ATOIopTm75HRRT7LRRSELabXAoT3Jg1cAJCtcOgn0Mx5atYN-cjTgsfEpideaK7hMmfypxlddMADaQ610l1DkwYTKD_e5u9x6uhu29-rjezJSNXRFSYqPpWntVuRZCvAGMGz">https://misstetanos.bandcamp.com</a><br><a
                                href="https://lm.facebook.com/l.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DQKIQDj5mdvA&amp;h=ATPRHe-Xu92oqKYYJDTqa9OwfSC75dDEzBO9XnCH6DKJQExEVveVbwF5IrNJ3fEZfEcyPf0ZIdQltwbAXPPE32EL2xPgYVnehrtRiCWhMs7W5S26bYIGbD5ZMAk5vS-n-Ljd">https://www.youtube.com/watch?v=QKIQDj5mdvA</a><br><br><br><strong>Cuntroaches
                            </strong>[crapcore / Brln]<br><br> Berlin’s unsound blackened noise punks CUNTROACHES are
                            back in town again. Feat. members of <a
                                href="https://m.facebook.com/BATALJBATALJBATALJ/">BATALJ</a>!<br><a
                                href="https://lm.facebook.com/l.php?u=https%3A%2F%2Fcuntroaches.bandcamp.com%2F&amp;h=ATNqEfMns7HMPRaW6qmCCSXZbd_EYPFpwboKcMRaLtFDJ19zO-laTspEnWU4qfES2O8ly-08t6YdEQFrdSrRN7bZ2phBZ3RJ0r7QjQR0AmW-kKQQ9Gnt8Ba4q1fEQlJDGnAZ">https://cuntroaches.bandcamp.com</a><br><br><br><strong>
                                Urin </strong>[d-beat, noise / Brln]<br><br> New super group feat. members of PISS,
                            G.L.O.S.S., <a href="https://m.facebook.com/BATALJBATALJBATALJ/">BATALJ</a>, Cuntroaches,
                            Die Pest, Vexx.</p><br><strong>Staxl Oll </strong>[spiritual improv / Leipzig] <a
                            href="https://m.facebook.com/tortellinirecords/">Tortellini Records</a><br><br> Staxl Oll is
                        a transcendental research group from Leipzig city investigating relations between sonic
                        reception and mental drift. As for their most recent project this coalition of 7 to 10 people
                        will employ rhythmic patterns and hardly apperceptive noises to arrive at new results in their
                        studies.<br><br>::::::::::::Aftershow DJ(s) No Income Taxi Drivers ::::::::::::<br><br>This is a
                        Claws Of Saurtopia Noise Fest Warm Up Show!<br> Our festival will take place in Leipzig 1st-2nd
                        June 2018 - there’ll be a little SHOT &amp; SCHNITTCHEN BAR tonight to raise some $$$ for this
                        event!!<br><br><br><strong>LOCATION: Spxlxnkx<br> DOORS/TÜR/PORTES 21:00</strong><br><br><br>
                        use of earplugs highly recommended
                        <p>— — — — — — — — — — — — — — — — — — — — — — — — — — —</p>
                        <p>And here’s some very old announcements that we’ll keep on this page as some sort of museum:
                        </p>
                        <p>14.11.- ZXRX</p>
                        <p><strong>Appaloosa</strong> (i)&nbsp;</p>
                        <p><em><a href="http://appaloosasound.bandcamp.com/">http://appaloosasound.bandcamp.com</a></em>
                        </p>
                        <p><strong>The Somnambulist</strong> (i/f/b/d)</p>
                        <p><em><a
                                    href="http://thesomnambulist.bandcamp.com/album/moda-borderline">http://thesomnambulist.bandcamp.com/album/moda-borderline</a></em>
                        </p>
                        <p><br><br> 26.11. - ZXRX</p>
                        <p><strong>Don Vito</strong> (le)</p>
                        <p><em>donvito.bandcamp.com</em></p>
                        <p><strong>Les Spritz</strong> (i)</p>
                        <p><em><a href="http://lesspritzzoid.bandcamp.com/">http://lesspritzzoid.bandcamp.com</a></em>
                        </p>
                        <p><strong>Jealousy Mountain Duo </strong>(d)</p>
                        <p><em><a
                                    href="http://jealousymountainduo.bandcamp.com/">http://jealousymountainduo.bandcamp.com</a></em><br><br><br>
                            6.12.- ZXRX</p>
                        <p><strong>Action Beat</strong> (uk)</p>
                        <p><em><a href="http://www.actionbeat.co.uk/">http://www.actionbeat.co.uk/</a></em></p>
                        <p><strong> The Antikaroshi</strong> (d)</p>
                        <p><em><a href="http://antikaroshi.bandcamp.com/">http://antikaroshi.bandcamp.com/</a></em></p>
                        <p><strong> Argument</strong><em> (L.E.)</em></p>
                    </div>
                    <div class="post_title"></div>
                    <div class="post_title"></div>
                    <div class="post_title">Samstag, 20.10.</div>
                    <div class="post_body">
                        <p><strong>16.00!!!!! in der SIMILDE</strong></p>
                        <p><img alt="image" class="toggle_inline_image inline_image constrained_image"
                                src="https://64.media.tumblr.com/tumblr_mbtw8m7Diu1qhokdt.jpg"></p>
                        <p><strong>RADIKAL SATAN</strong></p>
                        <p>(<a href="http://radikalsatan.org/">http://radikalsatan.org/</a></p>
                        <p>anhören: <a
                                href="http://www.lespotagersnatures.org/spip.php?article41">http://www.lespotagersnatures.org/spip.php?article41</a>)
                        </p>
                        <div class="post_content clearfix">
                            <div class="post_content_inner clearfix">
                                <div class="post_container">
                                    <div class="post_body">
                                        <p><strong>11.10. </strong>Donnerstag</p>
                                        <p><strong>LIWI</strong></p>
                                        <p><strong>Poino</strong> (uk)</p>
                                        <p>wild clash of menace, ambiguity and caustic bliss</p>
                                        <p><a
                                                href="http://www.horsearm.com/artists/poino">http://www.horsearm.com/artists/poino</a>
                                        </p>
                                        <p><strong>Y</strong> (slo)</p>
                                        <p>stretching progressiv metallurgic rhythms</p>
                                        <p><a href="http://www.yband.si/">http://www.yband.si/</a></p>
                                        <div class="post_content clearfix">
                                            <div class="post_content_inner clearfix">
                                                <div class="post_container">
                                                    <div class="post_title">XADDAX 08.07. im 0 | ∞</div>
                                                    <div class="post_body">
                                                        <p><img alt="image"
                                                                class="toggle_inline_image inline_image constrained_image"
                                                                src="https://64.media.tumblr.com/tumblr_m6pieaEUEX1qhokdt.jpg">
                                                        </p>
                                                        <p><a
                                                                href="http://soundcloud.com/xaddax">http://soundcloud.com/xaddax</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>30.05. Electric Electric (f)</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (electric.electric.free.fr/)</p>
        <p>01.06. Frustration &amp; Komplikations</p>
        <p>13.06. Solar Skeletons &amp; Duflan! Duflan! auf der Focke</p>
        <p>14.06. Chantal Morte + Zea + King Ayisoba + Boca u Floja</p>
        <div class="post_body">
            <p><strong>13.02. im</strong><strong> Zorokeller</strong></p>
            <p><img alt="image" class="toggle_inline_image inline_image constrained_image"
                    src="https://64.media.tumblr.com/009d77943ae04806b6217954acce0447/tumblr_inline_mh2tofOV6V1qhokdt.jpg">
            </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Syntax Error (f)</em></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; math/noise-rock vs. disco-punk</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; (<a
                    href="http://syntaxerror.bandcamp.com/">http://syntaxerror.bandcamp.com/</a>)</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Les yeux de la tête (f)</em></p>
            <p>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; instrumental jazz-punk</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; (<a
                    href="http://www.lesyeuxdelatete.com/">http://www.lesyeuxdelatete.com/</a>)</p>
        </div>
        <p>28.11. shield your eyes (uk)</p>
        <p>prog screamo thunder soul</p>
        <p>(shieldyoureyes.com)</p>
        <div class="post_content clearfix">
            <div class="post_content_inner clearfix">
                <div class="post_container">
                    <div class="post_title">18.05. @ o|∞ nullunendlich [LE]</div>
                    <div class="post_body">
                        <p><img alt="image" class="toggle_inline_image inline_image constrained_image"
                                src="https://64.media.tumblr.com/tumblr_m40hk5dUBk1qhokdt.jpg"></p>
                        <p><br><strong>18.05. @ o|∞ nullunendlich</strong> [Markranstädter Str. 04 LE]
                            <br><br><strong>doors: 9&nbsp;pm start: 10&nbsp;pm</strong> <br><br>SPOELSTRA
                            [nl]<br>loopbank country sludge beatz<br><a
                                href="http://narrominded.com/spoelstra/">http://narrominded.com/spoelstra/</a><br><br>MAN
                            FROM URANUS [gb]<br> sci-fi trans space pop<a
                                href="http://www.youtube.com/watch?v=U0jzgGE71GA" target="_blank"><br></a><a
                                href="http://www.manfromuranus.com">http://www.manfromuranus.com</a>
                        </p>
                        <div class="post_title">02.04. @ LIWI [LE]</div>
                        <p><img alt="image" class="toggle_inline_image inline_image constrained_image"
                                src="https://64.media.tumblr.com/tumblr_m1hw10aMWF1qhokdt.jpg"></p>
                    </div>
                    <div class="post_body"><br><br><strong>02.04. @ LIWI</strong> [Stockartstr. LE] <strong>doors:
                            10&nbsp;pm start: 11&nbsp;pm</strong> <br><br>ZOUN / PEINT [berlin/d]<br>tapes loops
                        drone<br><a
                            href="http://www.youtube.com/watch?v=U0jzgGE71GA">http://www.youtube.com/watch?v=U0jzgGE71GA</a><br><a
                            href="http://jekethzoun.tumblr.com/">http://jekethzoun.tumblr.com/</a><br><br>NEPTUNE
                        [boston/us]<br>no wave industrial noise rock<br><a
                            href="http://www.neptuneband.com">http://www.neptuneband.com</a><br><a
                            href="http://youtu.be/v5vSU64bkO4">http://youtu.be/v5vSU64bkO4</a><br><a
                            href="http://www.youtube.com/watch?v=kFBH627jMGU&amp;feature=player_embedded">http://www.youtube.com/watch?v=kFBH627jMGU&amp;feature=player_embedded</a>
                    </div>
                    <div class="post_body"></div>
                    <div class="post_body">
                        <div class="post_content clearfix">
                            <div class="post_content_inner clearfix">
                                <div class="post_container">
                                    <div class="post_title">24.03. @ o|∞ [LE]</div>
                                    <div class="post_body">
                                        <p><img alt="image" class="toggle_inline_image inline_image constrained_image"
                                                src="https://64.media.tumblr.com/tumblr_m16ike6yTG1qhokdt.jpg"></p>
                                        <p><strong> 24.03. @ o|∞ </strong>[Markranstädter Str. 04
                                            LE]<br><br><strong>doors: 10pm start: 11pm</strong> <br><br>NO NEBRASKA!
                                            <br>drums guitar bass clarinet post jaxx rock <br><a
                                                href="http://www.nonebraska.nostate.net/">http://www.nonebraska.nostate.net/</a>
                                            <br><a
                                                href="http://www.myspace.com/nonebraska">http://www.myspace.com/nonebraska</a>
                                            <br><br>APOSTROPHE <br>drums bass guitar post noize writer core <br><a
                                                href="http://www.chanmaxrecords.com/apostrophe/">http://www.chanmaxrecords.com/apostrophe/</a>
                                            <br><a
                                                href="https://www.facebook.com/pages/Apostrophe/240523336000808">https://www.facebook.com/pages/Apostrophe/240523336000808</a>
                                        </p>
                                        <div class="post_content clearfix">
                                            <div class="post_content_inner clearfix">
                                                <div class="post_container">
                                                    <div class="post_title">20.03. @ ZORO [LE]</div>
                                                    <div class="post_body">
                                                        <p>CHILD ABUSE (us) <br>absolut krankes gehacke, übersteuert,
                                                            verzerrt, totale noise-rock-anarchisten: kurz - das optimum
                                                            an erholung nach einem arbeitsreichen tag.</p>
                                                        <p><a
                                                                href="http://www.youtube.com/watch?v=Jc4EEUlzN5I">http://www.youtube.com/watch?v=Jc4EEUlzN5I</a>
                                                        </p>
                                                        <p>DEUX BOULES VANILLE (f) <br>duo aus st. etienne mit zwei
                                                            drumsets und analog-synthies; bewegen sich im wechselbad der
                                                            gefühle zwischen math-grind und easy
                                                            listening-dancefloor-loops. mad disco!</p>
                                                        <p><a
                                                                href="http://www.youtube.com/watch?v=V2Gw5enx0Co">http://www.youtube.com/watch?v=V2Gw5enx0Co</a>
                                                        </p>
                                                        <p>ALBERT BOCCARDI (i)<br>ambient-electronica, clicks and cuts,
                                                            soundscapes und sample-kompositionen.</p>
                                                        <p>STAER (nor) <br>überaschung!</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post_content clearfix">
                                            <div class="post_content_inner clearfix">
                                                <div class="post_container">
                                                    <div class="post_title">09.03. @ o|∞ [LE]</div>
                                                    <div class="post_body">
                                                        <p><img alt="image"
                                                                class="toggle_inline_image inline_image constrained_image"
                                                                src="https://64.media.tumblr.com/tumblr_m0k6yzMq6V1qhokdt.jpg">
                                                        </p>
                                                        <p><strong>09.03. @ o|∞</strong> [Markranstädterstr. 04 LE]</p>
                                                        <p><strong>NOISEFEST IV WARMUP PARTY</strong></p>
                                                        <p>doors: 9pm start: 10pm</p>
                                                        <p>L A F I D K I abstract ambient (F)<br><a
                                                                href="https://www.facebook.com/LAFIDKI">https://www.facebook.com/LAFIDKI</a><br><a
                                                                href="http://soundcloud.com/lafidki/">http://soundcloud.com/lafidki/</a><br><a
                                                                href="http://lafidki.free.fr/">http://lafidki.free.fr/</a>
                                                        </p>
                                                        <p>K I K II L I M I K I L II fractal symphony (F)<br><a
                                                                href="https://www.facebook.com/pages/Kikiilimikilii/143648142362282">https://www.facebook.com/pages/Kikiilimikilii/143648142362282</a><br><a
                                                                href="http://soundcloud.com/kikiilimikilii">http://soundcloud.com/kikiilimikilii</a><br><a
                                                                href="http://kikiilimikilii.bandcamp.com/">http://kikiilimikilii.bandcamp.com/</a>
                                                        </p>
                                                        <p>+ aftershowdisco</p>
                                                        <div class="post_content clearfix">
                                                            <div class="post_content_inner clearfix">
                                                                <div class="post_container">
                                                                    <div class="post_title">17.01. @ SKORBUT [LE]</div>
                                                                    <div class="post_body">
                                                                        <p><img alt="image"
                                                                                class="toggle_inline_image inline_image constrained_image"
                                                                                src="https://64.media.tumblr.com/tumblr_lxdz83wSwu1qhokdt.jpg">
                                                                        </p>
                                                                        <p><strong>17.01. @ SKORBUT
                                                                            </strong>[Dreilindenstr. 1 LE]</p>
                                                                        <p><strong>doors: 8pm start:
                                                                                9pm<br><br></strong>LE CERCLE DES
                                                                            MALLISSIMALISTES [F]<strong><br></strong><a
                                                                                href="http://vimeo.com/30185174">http://vimeo.com/30185174</a>
                                                                        </p>
                                                                        <div class="post_content clearfix">
                                                                            <div class="post_content_inner clearfix">
                                                                                <div class="post_container">
                                                                                    <div class="post_title">10.01. @
                                                                                        Markranstädter Strasse 4 [LE]
                                                                                    </div>
                                                                                    <div class="post_body">
                                                                                        <p><img alt="image"
                                                                                                class="toggle_inline_image inline_image constrained_image"
                                                                                                src="https://64.media.tumblr.com/tumblr_lxdwwbaMKh1qhokdt.jpg">
                                                                                        </p>
                                                                                        <p><strong>10.01. @
                                                                                                Markranstädter Strasse 4
                                                                                                [LE]</strong></p>
                                                                                        <p><strong>doors: 8pm start:
                                                                                                9pm</strong></p>
                                                                                        <p>PAPAYE [F]<br><a
                                                                                                href="http://www.myspace.com/friendlypapaye">http://www.myspace.com/friendlypapaye</a><br><br>JOHN
                                                                                            MAKAY [F]<br><a
                                                                                                href="http://www.myspace.com/johnmakay">http://www.myspace.com/johnmakay</a>
                                                                                        </p>
                                                                                        <p>0.10. @ GOLDENER BUERGERSTEIG
                                                                                            [LE]</p>
                                                                                        <div class="post_body">
                                                                                            <p><strong><img alt="image"
                                                                                                        class="toggle_inline_image inline_image constrained_image"
                                                                                                        src="https://64.media.tumblr.com/tumblr_ltgqppCCU11qhokdt.jpg"></strong>
                                                                                            </p><strong><br><br>30.10. @
                                                                                                Goldener
                                                                                                Buergersteig</strong>
                                                                                            [Lützner Str. 23
                                                                                            LE]<br><strong><br>doors:
                                                                                                8pm start:
                                                                                                9pm</strong><br><br>ROGER
                                                                                            ROBERT (F) <br><a
                                                                                                href="http://www.myspace.com/rogerrobert">www.myspace.com/rogerrobert</a><br><a
                                                                                                href="http://youtu.be/VhNia49VvsA">http://youtu.be/VhNia49VvsA</a>
                                                                                            <p>TOTAL CRANE (F)<br><a
                                                                                                    href="http://osoelroto.free.fr/total%20crane.html">http://osoelroto.free.fr/total%20crane.html</a>
                                                                                            </p>
                                                                                            <p>KRAPOOLA (E/D)<br><a
                                                                                                    href="http://youtu.be/d2yTcP-p66E">http://youtu.be/d2yTcP-p66E</a>
                                                                                            </p>
                                                                                        </div>
                                                                                        <div
                                                                                            class="post_content clearfix">
                                                                                            <div
                                                                                                class="post_content_inner clearfix">
                                                                                                <div
                                                                                                    class="post_container">
                                                                                                    <div
                                                                                                        class="post_title">
                                                                                                        30.06. @
                                                                                                        karlhelga [LE]
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="post_body">
                                                                                                        <p><img alt="image"
                                                                                                                class="toggle_inline_image inline_image constrained_image"
                                                                                                                src="https://64.media.tumblr.com/tumblr_ln9l7gqsG91qhokdt.jpg">
                                                                                                        </p>
                                                                                                        <p><strong>30.6.
                                                                                                                @
                                                                                                                karlhelga</strong>
                                                                                                            [trailer
                                                                                                            park
                                                                                                            klingenstr.
                                                                                                            16
                                                                                                            LE]<br><br><strong>9pm
                                                                                                            </strong><br><br>
                                                                                                            SEWN LEATHER
                                                                                                            (us)<br><a
                                                                                                                href="http://www.myspace.com/sew">http://www.myspace.com/sew</a>&nbsp;nleather<br><a
                                                                                                                href="http://www.youtube.com/wat">http://www.youtube.com/wat</a>ch?v=eUF3K5tJLXg<br>
                                                                                                            MARCEL DU
                                                                                                            SWAMP
                                                                                                            (us)<br><a
                                                                                                                href="http://swampswampswampswampswampswampswampswampswamp.bandcamp.com/">http://swampswampswampswampswampswampswampswampswamp.bandcamp.com/</a><br>
                                                                                                            FYOELK
                                                                                                            (nl)<br><a
                                                                                                                href="http://www.myspace.com/fyoelk">www.myspace.com/fyoelk</a><br><a
                                                                                                                href="http://vimeo.com/1143701">http://vimeo.com/1143701</a>
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="post_body"></div>
                                                                                    <div class="post_body">
                                                                                        <div
                                                                                            class="post_content clearfix">
                                                                                            <div
                                                                                                class="post_content_inner clearfix">
                                                                                                <div
                                                                                                    class="post_container">
                                                                                                    <div
                                                                                                        class="post_title">
                                                                                                        22.05. @
                                                                                                        Goldener
                                                                                                        Buergersteig
                                                                                                        [LE]</div>
                                                                                                    <div
                                                                                                        class="post_body">
                                                                                                        <p><strong><img
                                                                                                                    alt="image"
                                                                                                                    class="toggle_inline_image inline_image constrained_image"
                                                                                                                    src="https://64.media.tumblr.com/tumblr_llaxgkLo3n1qhokdt.jpg"></strong>
                                                                                                        </p><strong><br><br>
                                                                                                            22.5. @
                                                                                                            Goldener
                                                                                                            Buergersteig
                                                                                                        </strong>[Lützner
                                                                                                        Str. 23 Leipzig]
                                                                                                        <p><strong>Matinee
                                                                                                                Show :::
                                                                                                                door:
                                                                                                                3pm :::
                                                                                                                start:
                                                                                                                5pm&nbsp;!!!</strong><br><br>UNICORN
                                                                                                            HARD-ON
                                                                                                            (Nashville,
                                                                                                            Tennessee,
                                                                                                            USA)<br><a
                                                                                                                href="http://www.myspace.com/uni">http://www.myspace.com/uni</a>cornhardon<br>CONTAINER
                                                                                                            (Nashville,
                                                                                                            Tennessee,
                                                                                                            USA)<br><a
                                                                                                                href="http://www.ijustlivehere.o">http://www.ijustlivehere.o</a>rg/container<br><a
                                                                                                                href="http://www.ijustlivehere.o">http://www.ijustlivehere.o</a>rg/overflowmp3.mp3<br>LASER
                                                                                                            POODLE
                                                                                                            (Amsterdam,
                                                                                                            NL)<br><a
                                                                                                                href="http://www.myspace.com/las">http://www.myspace.com/las</a>erpoodle
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






















































    <div class="meta">



    </div>
















</div>