---
layout: base.njk
---

<section class="text-xl">
  <h2 class="underline text-4xl my-3 font-bold">DIY means Do It Yourself!</h2>
  <div
    class="w-fit m-auto text-center border border-2 border-blue-500 bg-white p-2"
  >
    Saturday, 8 June
  </div>
  <div class="text-base text-left leading-normal m-2">
    Baue dir beim noisio Lötworkshop deinen eigenen 8-Bit Mini-Synthesizer. Zum
    Beispiel das Photonotron - ein licht-sensitives Theremin, mit dem du Klänge
    zwischen Retro und Chaos erzeugen kannst. Oder die ATtiny Punk Console,
    welche sich über ein Audiosignal programmieren lässt. Ebenso ist der
    10-stimmige LevitationOSC dabei - ein Drone-Synthesizer mit mannigfaltigen
    Sounds und Funktionen, sowie bestimmt der ein oder andere Bausatz aus dem
    noisio Reisekoffer...
    <br />
    Kits von easy bis peasy :) Keinerlei Vorkenntnisse nötig!
  </div>
  <div class="text-base text-left leading-normal m-2">
    Steffen Koritsch a.k.a noisio ist gelernter Elektroniker, studierter
    Künstler und enthusiastischer DIY-Musiker und Frickler und tourt seit
    einigen Jahren durch Festivals, Museen, Clubs und Makerspaces. Er konzipiert
    seine Bausätze so, dass selbst Anfänger:innen in der Lage sind, sich vor Ort
    eines dieser Instrumente innerhalb kürzester Zeit selbst zu bauen. anmeldung
    unter noisefest@riseup.net bei beiden
  </div>

  <div
    class="w-fit m-auto text-base text-center leading-normal border-double border-4 border-blue-600 p-2 bg-white font-bold"
  >
    Mehr unter:
    <a href="https://www.noisio.de" rel="noopeer noreferrer" target="_blank"
      >www.noisio.de</a
    >
    <b />
    Preise: 20€–60€
  </div>
</section>

<section class="text-xl">
  <h2 class="underline text-4xl my-3 font-bold">
    CircuitCircle
    <br />
    „Noise Toys – not just for boys“
  </h2>
  <div
    class="w-fit m-auto text-center border border-2 border-red-500 bg-white p-2"
  ></div>
  <div class="text-base text-left leading-normal m-2">
    CircuitCircle ist das Workshop- und Sessionprojekt von Alwin Weber, welches
    2009 als SchrägeRunde gestartet ist. Dabei geht es sowohl um CircuitBending,
    das Löten von DIY-Synthesizern und Effektgeräten, als auch um den Bau von
    elektroakustische Instrumenten und das Musizieren mit diesen. Im Workshop
    erlernen die Teilnehmer*innen die Kunst des kreativen Kurzschlusses, den
    Umgang mit elektronischen Bauteilen und das Löten im Allgemeinen. Die
    Workshops, Konzerte und Sessions führten Alwin Weber aka. StöRenFrieD unter
    anderem nach Marroko, Mexico, Spanien, Israel und Indien. Seit 2011
    organisiert er das LötFestival „CircuitControl“ in Dresden und veranstaltet
    regelmäßig Workshops, Konzerte, Sessions und Kurse in OffSpaces, Museen und
    Universitäten.
  </div>
  <div
    class="w-fit m-auto text-base text-center leading-normal border-double border-4 border-red-600 p-2 bg-white font-bold"
  >
    <a
      href="https://www.circuitcircle.de"
      rel="noopeer noreferrer"
      target="_blank"
      >www.circuitcircle.de</a
    >
    <a href="mailto:alwinweber@gmx.de" rel="noopeer noreferrer" target="_blank"
      >alwinweber@gmx.de</a
    >
  </div>
</section>
